/***GENERAL: COLORS & FONTS***/
html {
  font-size: 10px;
  /*easy to calculate: 1rem=10px*/ }

/* #ff8000  = orange medium */

body {
  font-size: 1.6rem;
  font-family: sans-serif;
  color: #0059b3; }

a {
  text-decoration: none; }

p {
  font-size: 1.8rem;
  line-height: 2.2rem; }

h1, h2, h3 {
  font-weight: bold; }

h4, h5, h6 {
  font-weight: normal; }

h1, h4 {
  font-size: 5rem;
  line-height: 5.5rem; }

h2, h5 {
  font-size: 3rem;
  line-height: 3.5rem; }

h3, h6 {
  font-size: 2rem;
  line-height: 2.5rem; }

/*** GENERAL: CONTAINER MEDIA ***/
.container_media img, .container_media_padding img, .container_media_100 img, .container_media_60 img, .container_media_35 img,
.container_media video,
.container_media_padding video,
.container_media_100 video,
.container_media_60 video,
.container_media_35 video {
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
  border-radius: 1rem; }

.container_media_padding {
  padding: 3.2rem 2.4rem; }

.container_media_100 {
  padding: 10 rem;
  width: 100%; }

.container_media_60 {
  width: 60%; }

.container_media_35 {
  padding: 1.6rem;
  width: 35%; }

/*** GENERAL: CONTAINER WITH TEXT ***/
.container_img_text_below, .container_main_60, #container_learning .container_learning_box, .container_thesis .thesis_main {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 1rem; }

.container_main_60 {
  width: 60%; }

.container_text,   {
  display: block;
  padding: 0 2.4rem 3.2rem 2.4rem; }

/*** GENERAL: CONTAINER BOX ***/
.container_box, .container_info .container_info_box, .container_thesis .container_thesis_box {
  display: flex;
  width: 99%;
  border-radius: 1rem;
  background-color: #66b3ff;
  border: 1px solid #0059b3;
  margin-bottom: 1rem;
  margin-right: 1%;
  transition-duration: 0.5s; }
  .container_box h2, .container_info .container_info_box h2, .container_thesis .container_thesis_box h2,
  .container_box p,
  .container_info .container_info_box p,
  .container_thesis .container_thesis_box p {
    display: inline-flex;
    margin: .8rem 0;
    color: white;
    transition-duration: 0.5s; }
  .container_box h2, .container_info .container_info_box h2, .container_thesis .container_thesis_box h2 {
    text-shadow: 3px 3px #0059b3;
    transition-duration: 0.5s; }
  .container_box p, .container_info .container_info_box p, .container_thesis .container_thesis_box p {
    color: #0059b3; }
  .container_box:hover, .container_info .container_info_box:hover, .container_thesis .container_thesis_box:hover {
    background-color: #ffb366;
    border: 1px solid #b35900; }
    .container_box:hover h2, .container_info .container_info_box:hover h2, .container_thesis .container_thesis_box:hover h2 {
      color: white;
      text-shadow: 3px 3px #b35900; }
    .container_box:hover p, .container_info .container_info_box:hover p, .container_thesis .container_thesis_box:hover p {
      color: #b35900; }

/*** GENERAL: CONTAINER ASIDE ***/
.container_side, .container_side_40, .container_side_60, .container_side_65 {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 1rem; }

.container_side_40 {
  width: 40%; }

.container_side_50 {
  width: 50%; }

.container_side_65 {
  width: 65%; }

/*** GENERAL: OTHER ***/
.title {
  text-align: center;
  text-shadow: 5px 5px #0059b3;
  padding: 3.2rem 0; }

.bold {
  font-weight: bold; }

.background_grey_white {
  background-color: #ff8000; }

/*** GENERAL: MOBILE & DESKTOP SCREEN ***/
@media only screen and (max-width: 700px) {
  #hidden_mobile {
    display: none; } }
@media only screen and (min-width: 700px) {
  #hidden_desktop {
    display: none; } }

/*** MAIN ***/
main.main_content {
  top: 6.4rem;
  position: relative; }

/*** BANNER ***/
.container_banner {
  display: flex;
  background-color: #ff8000; }
  .container_banner h1,
  .container_banner h2,
  .container_banner h5 {
    display: inline-flex;
    margin: 2rem 1.6rem;
    color: white; }
  .container_banner h1 {
    text-shadow: 3px 3px #b35900;
    font-size: 3rem;
    }
  .container_banner h2 {
    font-size: 2rem;
    }
  .container_banner h5 {
    font-size: 1.5rem;
    }
  .container_banner a {
    background-color: #0080ff;
    color: white;
    font-size: 2rem;
    padding: 0.8rem 10rem;
    margin: 2rem 1.6rem;
    text-align: center;
    border-radius: 1rem; }
    .container_banner a:hover {
      background-color: white;
      color: #0080ff; }
    .container_banner a:active {
      color: white;
      background-color: #b35900; }
    .container_banner a {
      transition-property: background-color;
      transition-duration: 0.5s;
      transition-delay: 0ms;
      transition-timing-function: ease-in; }

@media only screen and (max-width: 700px) {
  .container_banner {
    flex-direction: column; }
    .container_banner a {
      width: 94%;
      margin: 2.4rem 1.6rem 3.2rem 1.6rem;
      padding: 1.6rem 0; }
      .container_banner a:active {
        margin: auto;
        margin: 2.4rem 1.6rem 3.2rem 1.6rem;
        padding: 1.6rem 0; }

  .container_main_60 {
    width: 100%; }
    .container_main_60 .container_media_padding {
      padding: 0; }

  .container_side_40 {
    width: 100%; } }


/*** MITMACHEN ***/


 table {

     border-style: solid;
     border-width: 1px;
     border-collapse: collapse;
     margin:10px 10px 10px 0px
  border-spacing: 1;
  border-collapse: collapse;
  background:white;
  border-radius:6px;
  overflow:hidden;
  max-width:800px;
  width:100%;
  margin:0 auto;
  position:relative;
  color: #0059b3;
}


td,th{ padding-left:8px}

.container_mitmachen th {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: left;
    font-size: 120%;
    background-color: #ff8000;
    color: white;
}


th, td {
   height: 2.5rem;
   padding: 1rem;
   text-align: left;
}
  thead tr .tablerow{
    height:2.5rem;
    background:#ff8000;
    font-size: 1.5 rem;
    padding: .5rem;
    padding-bottom: 0rem;
  }

  tbody tr .tablerow{
    font-size: 1.5 rem;
    padding: .5rem;
    padding-bottom: 0rem;
  border-bottom:1px solid #ff8000 ;
    &:last-child  { border:0; }
  }




.container_mitmachen{
   background-color: #0080ff;
   color: white; }
.container_mitmachen h1{
   font-size: 3rem;
   }
.container_mitmachen h2{
   font-size: 1.5rem;
   padding-bottom: 1rem;
   }
.container_mitmachen p{
  font-size: 1rem;
  padding-bottom: 1rem;
  }

.container_mitmachen .subcontainer_mitmachen {
    display: flex;
    align-items: flex-start;
}
.container_mitmachen .mitmachen_text {
    width: 50%;
    padding: 1rem
}

.container_mitmachen .mitmachen_text .mitmachen_form {
  padding: 1rem; }

.subcontainer_mitmachen .container_side_50 .container_mitmachen_box .container_media_100 img{
  margin: 1rem;
  width: 90%; }

.container_mitmachen  h1 {
    padding-bottom: 2rem;
    text-shadow: 5px 5px #0059b3;
}
.container_mitmachen .container_mitmachen_box:first-child {
    margin-top: 3.2rem;
}

@media only screen and (max-width: 700px) {
  .container_mitmachen .mitmachen_text {
    width: 100%; }
  .container_mitmachen .container_media_padding {
    padding: 0; } }





/*** MITMACHER ***/


.container_mitmacher th {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: left;
    font-size: 120%;
    background-color: #0059b3;
    color: white;
}


.container_mitmacher{
   background-color: #0059b3;
   color: white;
   width: 100%;
   }

.container_mitmacher h1{
   font-size: 3rem;
   }

.container_mitmacher   .title {
     text-align: center;
     text-shadow: 5px 5px black;
     padding: 3.2rem 0; }

.container_mitmacher h2{
   font-size: 2rem;
   margin: 1 rem;
   }

.container_mitmacher p{
  font-size: 1rem;
  padding-bottom: 1rem;
  }

.container_mitmacher .subcontainer_mitmacher {
}

