/***GENERAL: COLORS & FONTS***/
html {
  font-size: 10px;
  /*easy to calculate: 1rem=10px*/
  }

/* colours:
#ff8000  = orange medium
#B35900  = dunkles orange
#0080ff  = mittleres blau
#0059b3  = dunkles blau
#00305F  = ganz dunkels blau
#08088A  = noch dunkleres blau
*/

body .main{
  font-size: 1.6rem;
  font-family: Muli, sans-serif;
  color: #0059b3;  /* dunkles blau */
  }

a {
  text-decoration: none;
  }

/*** GENERAL: CONTAINER MEDIA ***/
.container_media_padding img, .container_media_100 img{
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
  border-radius: 1rem;
  }

.container_media_padding {
  padding: 3.2rem 2.4rem;
  }

.container_media_100 {
  padding: 10 rem;
  width: 100%;
  }

/*** GENERAL: CONTAINER WITH TEXT ***/
.container_main_60 {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 1rem;
  width: 60%;
  }


/*** GENERAL: CONTAINER ASIDE ***/
.container_side_40 {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 1rem;
  }

.container_side_40 {
  width: 40%;
  }

.container_side_50 {
  width: 50%;
  }


/*** GENERAL: OTHER ***/
.title {
  text-align: center;
  text-shadow: 5px 5px #0059b3;  /* dunkles blau */
  padding: 3.2rem 0;
 /* font-weight: bold; */
  }


/*** GENERAL: MOBILE & DESKTOP SCREEN ***/
@media only screen and (max-width: 700px) {
  #hidden_mobile {
    display: none;
    }
  }
@media only screen and (min-width: 700px) {
  #hidden_desktop {
    display: none;
    }
  }


/*** BANNER ***/
.container_banner {
  display: flex;
  justify-content: center;
  background-color: #ff8000;   /* orange */
  }

.container_banner h1,
.container_banner h2,
.container_banner h5,
.container_banner a{
  display: inline-flex;
  margin: 2rem 1.6rem;
  color: white;
  }

.container_banner h1 {
  text-shadow: 3px 3px #b35900;  /* dunkles orange */
  font-size: 3rem;
  }

.container_banner h2 {
  font-size: 2rem;
  }

.container_banner h5 {
  font-size: 1.5rem;
  }

.container_banner a{
  background-color: #0080ff ; /* mittleres blau */
  color: white;
  font-size: 2rem;
  text-align: center;
  border-radius: 1rem;
  display: flex-item;
  align: center;
  padding: 0.8rem 10rem;
  margin: 2rem 1.6rem;
  }

.container_banner a:hover {
  background-color: white;
  color: #0080ff;  /* mittleres blau */
  }

.container_banner a:active {
  color: white;
  background-color: #b35900;   /* dunkles orange */
  }

.container_banner a {
  transition-property: background-color;
  transition-duration: 0.5s;
  transition-delay: 0ms;
  transition-timing-function: ease-in;
  }

@media only screen and (max-width: 700px) {
  .container_banner h1,
  .container_banner h2,
  .container_banner h5,
  .container_banner a{
    margin: 1rem 1.6rem;
    }

  .container_banner {
    flex-direction: column;
    }

  .container_side_40 {
    align-items: center;
    margin-bottom: 1.5rem;
    }

  .container_main_60 {
    width: 100%;
    }

  .container_main_60 .container_media_padding {
      padding: 0;
      }

  .container_side_40 {
    width: 100%;
    }

  .container_banner a{
    font-size: 1.5rem;
    padding: 0.8rem 5rem;
    }
  }

/*** TABLE ***/

 table {
  border-style: solid;
  border-width: 1px;
  border-collapse: collapse;
  background: white;
  border-radius:6px;
  overflow:hidden;
  max-width:800px;
  width:100%;
  margin:0 auto;
  position:relative;
  color: #0059b3;  /* dunkles blau */
  }

@media only screen and (max-width: 700px) {
   table {
    width: 90%;
    }
  }

 th {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: left;
  font-size: 120%;
  color: white;
  background-color: #ff8000; /* orange */
  }


th, td {
  height: 2.5rem;
  padding: 1rem;
  text-align: left;
  }

thead tr .tablerow{
  height:2.5rem;
  font-size: 1.5 rem;
  padding: .5rem;
  padding-bottom: 0rem;
  }

tbody tr .tablerow{
  font-size: 1.5 rem;
  padding: .5rem;
  padding-bottom: 0rem;
  border-bottom:1px solid #ff8000 ; /* orange */
  &:last-child  {
    border:0;
    }
  }

/**** MITMACHEN ****/

.container_mitmachen{
  background-color: #0080ff;   /* mittleres blau */
  color: white;
  }

.container_mitmachen .prototyp{
  padding: 2rem;
  font-size: 1.3rem;
  }

.container_mitmachen h1{
  font-size: 3rem;
  }

.container_mitmachen h2{
  font-size: 2rem;
  padding-bottom: 1rem;
  }

.container_mitmachen p{
  font-size: 1.5rem;
  padding-bottom: 1rem;
  }

.container_mitmachen .subcontainer_mitmachen {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  }

.container_mitmachen .mitmachen_text {
  width: 50%;
  padding: 1rem
  }

@media only screen and (max-width: 700px) {
  .title {
    padding: 1rem 0;
    }

  .container_mitmachen .mitmachen_text {
    padding-top: 0rem;
    width: 100%;
    }

  .container_mitmachen  h2{
     font-size: 1.5rem;
     padding-bottom: 1rem;
     padding-top: 0rem;
     }

  .container_mitmachen .padding-top {
     padding-top: 0rem;
   }

   .container_mitmachen .mitmachen-panel{
      padding: 0rem;
   }

  }

.mitmachen-panel{
  padding: 2rem;
  }

.mitmachen_form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  }

.container_mitmachen .mitmachen_select{
  display: flex-item;
  }

.container_mitmachen input{
  background-color: white;
  color: #ff8000 ; /* orange */
  font-size: 1.5rem;
  border-radius: .6rem;
  width: 15rem;
  }

.container_mitmachen select{
  width: 17rem;
  background-color: white;
  color: #ff8000 ; /* orange */
  font-size: 1.5rem;
  border-radius: .6rem;
  }

.container_mitmachen button{
  display: flex-item;
  align: center;
  background-color: #ff8000 ; /* orange */
  color: white;
  font-size: 1.5rem;
  padding: 0.8rem 5rem;
  margin: 2rem 1.6rem;
  text-align: center;
  border-radius: 1rem;
  }

.bold{
   font-size: 1.7rem;
   font-weight: bold;
}

@media only screen and (max-width: 700px) {

  .mitmachen_select{
    display: flex;
    flex-direction: column;
    justify-content: center;
    }

  .mitmachen_select input{
    display: flex-item;
    margin: 2px;
    }

  .mitmachen_select select{
    display: flex-item;
    margin: 2px;
    }
  }

.subcontainer_mitmachen .container_side_50 .container_mitmachen_box .container_media_100 img{
  margin: 1rem;
  width: 90%;
  }

.container_mitmachen  h1 {
  padding-bottom: 2rem;
  text-shadow: 5px 5px #0059b3;  /* dunkles blau */
  }

.container_mitmachen .container_mitmachen_box:first-child {
  margin-top: 3.2rem;
  }

@media only screen and (max-width: 700px) {
  .container_mitmachen .container_media_padding {
    padding: 0;
    }

  .container_mitmachen table {
     font-size: 1rem;
    }

   .container_mitmachen p {
      font-size: 1.2rem;
      color: white;
      text-align: center;
    }
  }


/*** MITMACHER ***/

.container_mitmacher .subcontainer_mitmacher {
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
  }

@media only screen and (max-width: 700px) {
  .container_mitmacher .subcontainer_mitmacher {
    padding: 1rem;
    }

  .container_mitmacher .subcontainer_mitmacher table {
    font-size: 1rem;
    }

  #mitmacher .title {
    padding-top: 1rem;
    padding-bottom: 0rem;
    }

  #mitmacher h5{
    font-size: 1.2rem;
    }

  }


.container_mitmacher .padding{
  padding-bottom: 2rem;
  }

.container_mitmacher{
  background-color: #0059b3;  /* dunkles blau */
  color: white;
  width: 100%;
  }

.container_mitmacher h1{
  font-size: 3rem;
  }

.container_mitmacher   .title {
  text-align: center;
  text-shadow: 5px 5px #00305F;  /*ganz dunkles blau*/
  padding: 3.2rem 0;
  }

.container_mitmacher h2{
  font-size: 2rem;
  margin: 1 rem;
  }

.container_mitmacher h5{
  font-size: 1.7rem;
  padding-bottom: 1rem;
  }


/*** PRESSE ***/
.container_presse {
  display: flex;
  justify-content: center;
  background-color: #ff8000;   /* orange */
  color: white;
  }

.container_presse .title {
  text-align: center;
  text-shadow: 5px 5px #0059b3;  /* dunkles blau */
  padding: 1rem 0;
  }



.container_presse  .container_main_60 p{
    margin: 0 2rem;
    text-align: justify;
    }

.container_presse .container_side_40 a {
  background-color: #0080ff ; /* mittleres blau */
   color: white;
   font-size: 2rem;
   text-align: center;
   border-radius: 1rem;
   display: flex-item;
   align: center;
   padding: 0.8rem 5rem;
   margin: 2rem 1.6rem;
  }

/* links im text*/
.container_presse .container_main_60 a {
  background-color: transparent ; /* mittleres blau */
   color: white;
   font-weight: bold;
   font-size: 1.2rem;
   text-align: center;
   border-radius: 1rem;
   display: flex-item;
   align: center;
   padding: 0;
   margin: 0;
  }


.container_presse .container_side_40 a:hover {
  background-color: white;
  color: #0080ff;  /* mittleres blau */
  }

.container_presse .container_side_40 a:active {
  color: white;
  background-color: #b35900;   /* dunkles orange */
  }

.container_presse .container_side_40 a {
  transition-property: background-color;
  transition-duration: 0.5s;
  transition-delay: 0ms;
  transition-timing-function: ease-in;
  }

.blauer_hintergrund {
  background-color: #0080ff;   /* mittleres blau */
  }

.dunkelblauer_hintergrund {
  background-color: #0059b3;   /* dunkles blau */
  }


.container_presse h1,
.container_presse h2,
.container_presse h5,
.container_presse a{
  display: inline-flex;
  margin: 2rem 1.6rem;
  color: white;
  }

.container_presse h1 {
  text-shadow: 3px 3px #b35900;  /* dunkles orange */
  font-size: 3rem;
  }

.container_presse h2 {
  font-size: 2rem;
  }

.container_presse h5 {
  font-size: 1.5rem;
  }

.container_presse p {
  font-size: 1.2rem;
  }





@media only screen and (max-width: 700px) {
  .container_presse h1,
  .container_presse h2,
  .container_presse h5,
  .container_presse a{
    margin: 1rem 1.6rem;
    }

  .container_presse {
    flex-direction: column;
    }

  .container_side_40 {
    align-items: center;
    margin-bottom: 1.5rem;
    }

  .container_main_60 {
    width: 100%;
    }

  .container_main_60
  .container_media_padding {

      }

  .container_side_40 {
    width: 100%;
    }

  .container_presse a{
    font-size: 1.5rem;
    padding: 0.8rem 5rem;
    }
  }


/*CONTACT*/

.container_contact  .title {
  text-align: center;
  text-shadow: 5px 5px black;  /**/
  padding: 3.2rem 0;
  }

.container_contact h1{
  font-size: 3rem;
  }

.container_contact .padding-top{
  padding-top: 2rem;
  }

#contact .container_contact {
  background-color: #08088A;
  color: white;
  padding-bottom: 2rem;
  text-align: center;
  }
#contact .contact_info {
  width: 90%;
  margin: auto;
  background-color: #0059b3;
  border-radius: 1rem;
  }
#contact .contact_info div {
  padding: 1rem 0;
  text-align: center;
  }
#contact .contact_info div i {
  display: inline-block;
  padding: 0;
  color: white;
  }
#contact .contact_info div span {
  padding: 1rem 0;
  display: inline-block;
  }
#contact .contact_info div p {
  text-align: center;
  }
#contact .contact_info div p a {
  color: white;
  }
#contact .contact_info div p:last-child {
  padding: 0;
  }
#contact .contact_info div:last-child {
  padding-bottom: 2rem;
  }


@media only screen and (max-width: 700px) {
  #contact .title {
    padding: 1rem 0;
    }

  #contact {
    font-size: 1.2rem;
    }

  #contact h3{
    font-size: 1rem;
    }
 }