/***GENERAL: COLORS & FONTS***/
html {
  font-size: 10px;
  /*easy to calculate: 1rem=10px*/
  }

/* colours:
#ff8000  = orange medium
#B35900  = dunkles orange
#0080ff  = mittleres blau
#0059b3  = dunkles blau
#00305F  = ganz dunkels blau
#08088A  = noch dunkleres blau
*/


/*** HEADER ***/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #59A8D9;/*blau*/
  height: 3.7rem;  /* das hier bestimmt die hoehe der anderen nav elemente */
  position: fixed;
  width: 100%;
  z-index: 20;
  }


@media only screen and (max-width: 850px) {
  header {
    height: 2rem;
    border-bottom: 1px solid #38B0CC;
    }
  }

body main {
    font-family: Muli, sans-serif;
    font-size: 1.8rem;
    position: relative;
    color: white;
    width: 100%;
    height: 100%;
    }

main {
  padding-top: 3.5rem;
  position: relative;
  }

@media only screen and (max-width: 700px) {
  body main{
    font-size: 1.2rem;
    padding-top: 2rem;
  }
}

a {
  text-decoration: none;
  }

.container_side_40 h2.red{
color: blue;
}

/*** GENERAL: NAVIGATION ***/
nav a {
  font-family: Muli, sans-serif;
  font-size: 1.5rem;
  display: block;
  background-color: #59A8D9; /*blau*/
  color: white;
  font-weight: bold;
  width: auto;
  height: 1rem;
  padding: 1.2rem 1rem 1.5rem 1rem;
  margin: 0;
  text-shadow: -1px -1px 0 #1b5764, 1px -1px 0 #1b5764, -1px 1px 0 #1b5764, 1px 1px 0 #1b5764; }
  nav a:hover {
    background-color: #0080ff; } /* blau (war rosa)*/

nav li {
  list-style: none;
  float: right;
  }

nav li a {
    text-align: center; }

nav li li {
    float: none; }

nav li li a {
      text-align: left;
      list-style: none;
      padding: 1rem; }

nav ul ul {
  display: none;
  position: absolute;
  z-index: 999; }

.with-dots {
  padding: 2rem;
  list-style-type: circle;
}

li {
  grid-gap: 1.75em;
  align-items: start;
  line-height: 1.5;
}

@media only screen and (max-width: 850px) {
  nav {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    color: white;
    cursor: pointer;
    }

  nav li {
    float: none;
    }

  .menu_items {
    position: absolute;
    right: 0rem;
    }

  .hidden {
    display: none;
    }
}

/*** GENERAL: CONTAINER MEDIA ***/
.container_media_padding img, .container_media_100 img{
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
  border-radius: 1rem;
  }

.container_media_padding {
  padding: 3.2rem 2.4rem;
  }

.container_media_100 {
  padding: 10 rem;
  width: 100%;
  }

/*** GENERAL: CONTAINER WITH TEXT ***/
.container_main_60 {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 1rem;
  width: 60%;
  }


/*** GENERAL: CONTAINER ASIDE ***/
.container_side_40 {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 1rem;
  }

.container_side_40 {
  width: 40%;
  }

.container_side_50 {
  width: 50%;
  }


/*** GENERAL: OTHER ***/
.title {
  text-align: center;
  text-shadow: 5px 5px #0059b3;  /* dunkles blau */
  padding: 3.2rem 0 0 0;
 /* font-weight: bold; */
  }


/*** GENERAL: MOBILE & DESKTOP SCREEN ***/
@media only screen and (max-width: 700px) {
  #hidden_mobile {
    display: none;
    }
  }
@media only screen and (min-width: 700px) {
  #hidden_desktop {
    display: none;
    }
  }


/*** BANNER ***/
.container_banner {
  display: flex;
  justify-content: center;
  background-color: #ff8000;   /* orange */
  }

 .blue {
    background-color: #0080ff;   /* blau */
    }

.container_banner h1,
.container_banner h2,
.container_banner h3,
.container_banner h5,
.container_banner a{
  display: inline-flex;
  margin: 1rem 1.6rem;
  color: white;
  }

.container_banner h1 {
  text-shadow: 3px 3px #b35900;  /* dunkles orange */
  font-size: 3rem;
  }

.container_banner h2 {
  font-size: 2rem;
  }

.container_banner h3 {
  font-weight: bold
  }

.container_banner h5 {
  font-size: 1.5rem;
  }

.container_banner a{
  background-color: #0080ff ; /* mittleres blau */
  color: white;
  font-size: 2rem;
  text-align: center;
  border-radius: 1rem;
  display: flex-item;
  align: center;
  padding: 0.8rem 10rem;
  margin: 2rem 1.6rem;
  }

.container_banner a:hover {
  background-color: white;
  color: #0080ff;  /* mittleres blau */
  }

.container_banner a:active {
  color: white;
  background-color: #b35900;   /* dunkles orange */
  }

.container_banner a {
  transition-property: background-color;
  transition-duration: 0.5s;
  transition-delay: 0ms;
  transition-timing-function: ease-in;
  }

@media only screen and (max-width: 700px) {
  .container_banner h1,
  .container_banner h2,
  .container_banner h5,
  .container_banner a{
    margin: 1rem 1.6rem;
    }

  .container_banner {
    flex-direction: column;
    }

  .container_side_40 {
    align-items: center;
    margin-bottom: 1.5rem;
    }

  .container_main_60, .container_side_50 {
    width: 100%;
    }

  .container_main_60 .container_media_padding {
      padding: 0;
      }

  .container_side_40 {
    width: 100%;
    }

  .container_banner a{
    font-size: 1.5rem;
    padding: 0.8rem 5rem;
    }
  }

/*** TABLE ***/

 table {
  border-style: solid;
  border-width: 1px;
  border-collapse: collapse;
  background: white;
  border-radius:6px;
  overflow:hidden;
  max-width:800px;
  width:100%;
  margin:0 auto;
  position:relative;
  color: #0059b3;  /* dunkles blau */
  }

 th {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: left;
  font-size: 120%;
  color: white;
  background-color: #ff8000; /* orange */
  }


th, td {
  height: 2.5rem;
  padding: 1rem;
  text-align: left;
  }

thead tr .tablerow{
  height:2.5rem;
  font-size: 1.5 rem;
  padding: .5rem;
  padding-bottom: 0rem;
  }

tbody tr .tablerow{
  font-size: 1.5 rem;
  padding: .5rem;
  padding-bottom: 0rem;
  border-bottom:1px solid #ff8000 ; /* orange */
  &:last-child  {
    border:0;
    }
  }

/**** MITMACHEN ****/

.container_mitmachen{
  background-color: #0080ff;   /* mittleres blau */
  color: white;
  }

.container_mitmachen h1{
  font-size: 3rem;
  }

.container_mitmachen h2{
  font-size: 2rem;
  padding-bottom: 1rem;
  }

.container_mitmachen p{
  font-size: 1.3rem;
  padding-bottom: 0rem;
  }

.container_mitmachen .subcontainer_mitmachen {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  }

.container_mitmachen .mitmachen_text {
  width: 50%;
  padding: 1rem
  }

@media only screen and (max-width: 700px) {
  .title {
    padding: 1rem 0;
    }

  .container_mitmachen {
    padding: 0 1rem;
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    }

.container_mitmachen .mitmachen_text {
  width: 100%;
  padding: 1rem
  }

  .container_mitmachen a.button{
        display: flex;
        margin: 0;
        justify-content: center;
      }

  .container_mitmachen  h2{
     font-size: 1.5rem;
     padding-bottom: 1rem;
     padding-top: 0rem;
     }

  .container_mitmachen  p{
     font-size: 1.2rem;
     padding-bottom: 0rem;
     padding-top: 0rem;
     }

  .container_mitmachen .padding-top {
     padding-top: 0rem;
   }

   .container_mitmachen .mitmachen-panel{
      padding: 0rem;
   }

  }

.mitmachen-panel{
  padding: 0 1rem 0 1rem;
  }

.mitmachen_form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  }

.container_mitmachen .mitmachen_select{
  display: flex-item;
  }

.container_mitmachen input{
  background-color: white;
  color: #B35900 ; /* dunkles orange */
  font-size: 1.5rem;
  border-radius: .6rem;
  width: 15rem;
  }

.container_mitmachen select{
  width: 17rem;
  background-color: white;
  color: #B35900 ; /* dunkles orange */
  font-size: 1.5rem;
  border-radius: .6rem;
  }

.container_mitmachen button{
  display: flex-item;
  align: center;
  background-color: #ff8000 ; /* orange */
  color: white;
  font-size: 1.5rem;
  padding: 0.8rem 5rem;
  margin: 2rem 1.6rem;
  text-align: center;
  border-radius: 1rem;
  }

a.button{
  display: flex-item;
  align: center;
  background-color: #ff8000 ; /* orange */
  color: white;
  font-size: 1.5rem;
  padding: 0.8rem 5rem;
  margin: 2rem 0rem;
  text-align: center;
  border-radius: 1rem;
  }

.bold{
   font-size: 1.7rem;
   font-weight: bold;
}

@media only screen and (max-width: 700px) {

  .mitmachen_select{
    display: flex;
    flex-direction: column;
    justify-content: center;
    }

  .mitmachen_select input{
    display: flex-item;
    margin: 2px;
    }

  .mitmachen_select select{
    display: flex-item;
    margin: 2px;
    }

  .container_mitmachen input{
    width: 90%;
    }
}

.container_mitmachen_box .container_media_100 img{
  margin: 1rem;
  width: 90%;
  }

.container_mitmachen  h1 {
  padding-bottom: 2rem;
  text-shadow: 5px 5px #0059b3;  /* dunkles blau */
  }

.container_mitmachen .container_mitmachen_box:first-child {
  margin-top: 3.2rem;
  }

@media only screen and (max-width: 700px) {
  .container_mitmachen .container_media_padding {
    padding: 0;
    }

  .container_mitmachen table {
     font-size: 1rem;
    }

   .container_mitmachen p {
      font-size: 1.2rem;
      color: white;
      text-align: center;
    }
  }


/*** MITMACHER ***/

.container_mitmacher .subcontainer_mitmacher {
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
  }

@media only screen and (max-width: 700px) {
  .container_mitmacher .mitmachen_text p{
    font-size: 1.2rem;
    }

  .container_mitmacher .subcontainer_mitmacher {
    padding: 1rem;
    }

  .container_mitmacher .subcontainer_mitmacher table {
    font-size: 1rem;
    }

  #mitmacher .title {
    padding-top: 1rem;
    padding-bottom: 0rem;
    }

  }


.container_mitmacher .padding{
  padding-bottom: 2rem;
  }

.container_mitmacher{
  background-color: #0059b3;  /* dunkles blau */
  color: white;
  width: 100%;
  }

.container_mitmacher h1{
  font-size: 3rem;
  }

.container_mitmacher p{
  font-size: 1.3rem;
  }

.container_mitmacher   .title {
  text-align: center;
  text-shadow: 5px 5px #00305F;  /*ganz dunkles blau*/
  padding: 3rem 0;
  }

.container_mitmacher h2{
  font-size: 2rem;
  margin: 1 rem;
  }

.container_mitmacher h5{
  font-size: 1.7rem;
  padding-bottom: 1rem;
  }


/*** PRESSE ***/
.container_presse {
  display: flex;
  justify-content: center;
  background-color: #ff8000;   /* orange */
  color: white;
  }

.container_presse .title {
  text-align: center;
  text-shadow: 5px 5px #0059b3;  /* dunkles blau */
  padding: 1rem 0;
  }

.container_presse .title_dunkel {
  text-align: center;
  text-shadow: 5px 5px #08088A;  /* noch dunkleres blau */
  padding: 1rem 0;
  }

.container_presse .container_main_60 .container_media_padding {
      padding: 3.2rem 2.4rem 0rem 2.4rem;
      }

.container_presse  .container_main_60 p{
    margin: 0 2rem;
    text-align: justify;
    }

.container_presse .container_side_40 a {
  background-color: #0080ff ; /* mittleres blau */
   color: white;
   font-size: 2rem;
   text-align: center;
   border-radius: 1rem;
   display: flex-item;
   align: center;
   padding: 0.8rem 5rem;
   margin: 2rem 1.6rem;
  }

/* links im text*/
.container_presse .container_main_60 a {
  background-color: transparent ; /* mittleres blau */
   color: white;
   font-weight: bold;
   font-size: 1.2rem;
   text-align: center;
   border-radius: 1rem;
   display: flex-item;
   align: center;
   padding: 0;
   margin: 0;
  }


.container_presse .container_side_40 a:hover {
  background-color: white;
  color: #0080ff;  /* mittleres blau */
  }

.container_presse .container_side_40 a:active {
  color: white;
  background-color: #b35900;   /* dunkles orange */
  }

.container_presse .container_side_40 a {
  transition-property: background-color;
  transition-duration: 0.5s;
  transition-delay: 0ms;
  transition-timing-function: ease-in;
  }

.oranger_hintergrund {
  background-color: #ff8000;   /* orange */
  }

.blauer_hintergrund {
  background-color: #0080ff;   /* mittleres blau */
  }

.dunkelblauer_hintergrund {
  background-color: #0059b3;   /* dunkles blau */
  }

.sehrdunkelblauer_hintergrund {
  background-color: #00305F;   /* sehr dunkles blau */
  }

.container_presse ul, .container_presse li{
  font-size: 1.2rem;
  line-height: 1.25;
  color: white;
  list-style-type: circle;
  margin: 1rem 1rem 0rem 1.5rem;
}

.container_presse h1,
.container_presse h2,
.container_presse h5,
.container_presse a{
  display: inline-flex;
  margin: 2rem 1.6rem;
  color: white;
  }

.container_presse h1 {
  text-shadow: 3px 3px #b35900;  /* dunkles orange */
  font-size: 3rem;
  }

.container_presse h2 {
  font-size: 2rem;
  }

.container_presse h5 {
  font-size: 1.5rem;
  }

.container_presse p {
  font-size: 1.2rem;
  }

.container_presse container_main_60 p {
  font-size: 1.2rem;
  }



@media only screen and (max-width: 700px) {
  .container_presse h1,
  .container_presse h2,
  .container_presse h5,
  .container_presse a{
    margin: 1rem 1.6rem;
    }

  .container_presse {
    flex-direction: column;
    }

.container_presse .container_main_60 .container_media_padding {
      padding: 0rem 1rem 0rem 1rem;
      }

  .container_side_40 {
    align-items: center;
    margin-bottom: 1.5rem;
    }

  .container_main_60 {
    width: 100%;
    }

  .container_main_60
  .container_media_padding {

      }

  .container_side_40 {
    width: 100%;
    }

  .container_presse a{
    font-size: 1.5rem;
    padding: 0.8rem 5rem;
    }
  }


/*CONTACT*/

.container_contact  .title {
  text-align: center;
  text-shadow: 5px 5px black;  /**/
  padding: 3.2rem 0;
  }

.container_contact h1{
  font-size: 3rem;
  }

  .container_contact p{
    font-size: 1.5rem;
    padding: 0 4rem;
  }

.container_contact .padding-top{
  padding-top: 2rem;
  }

#contact .container_contact {
  background-color: #00305F;
  color: white;
  padding-bottom: 2rem;
  text-align: center;
  }

#contact .contact_info {
  width: 90%;
  margin: auto;
  background-color: #0059b3;
  border-radius: 1rem;
  }
#contact .contact_info div {
  padding: 1rem 0;
  text-align: center;
  }
#contact .contact_info div i {
  display: inline-block;
  padding: 0;
  color: white;
  }
#contact .contact_info div span {
  padding: 1rem 0;
  display: inline-block;
  }
#contact .contact_info div p {
  text-align: center;
  }
#contact .contact_info div p a {
  color: white;
  }
#contact .contact_info div p:last-child {
  padding: 0;
  }
#contact .contact_info div:last-child {
  padding-bottom: 2rem;
  }


@media only screen and (max-width: 700px) {
  #contact .title {
    padding: 1rem 0;
    }

  #small_letters {
    font-size: 1.2rem;
    width: 90%;
    padding: 0 1rem;
    }

  #contact h3{
    font-size: 1rem;
    }
 }

.bilder{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media only screen and (max-width: 700px) {
  .bilder{
    flex-direction: column;
    align-items: center;
    }

    .rundesBild {
      width: 5rem;
      border-radius: 50%;
    }
}

.rundesBild {
  width: 12rem;
  border-radius: 50%;
  padding: 2rem;
}

.with-dots {
  padding: 2rem;
  list-style-type: circle;
}

li {
  grid-gap: 2em;
  align-items: start;
  font-size: 1.2rem;
  line-height: 1.5;
}

.box{
    background-color: #0059b3; /*dunkles blau*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    border: 1px solid white;
    }


/* input - wirklich nur das input feld!*/
.form-input-field {
  padding: 0.8rem 0rem;
  margin: 2rem 1.6rem;
}
/* der error ist direkt unter dem input */
.form-input-field-error, p.red{
    font-size: 1.5rem;
    color: red;
    font-weight: bold;
    margin-bottom: 2rem;
    text-shadow: -1px -1px 0 white, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

.container_mitmachen .form-input-field-box input{
  background-color: white;
  font-size: 1.5rem;
  border-radius: .6rem;
  width: 35%;
  }

.form-input-field-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container_mitmachen label{
    width: 25%;
}

@media only screen and (max-width: 700px) {

/* input - wirklich nur das input feld!*/
.form-input-field {
  margin: 0.5rem 0rem;
}

.container_mitmachen .form-input-field-box input{
  width: 95%;
  }

/* alles in der zeile: name, input (inkl error), beschreibung*/
.form-input-field-box{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    }

.form-input-field-error, p.red{
    font-size: 1rem;
    color: red;
    font-weight: bold;
    margin-bottom: 1rem;
    text-shadow: -1px -1px 0 white, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    width: 10rem;
    }
}

.rahmen{
   border-radius: 1rem;
   border: 1px solid white;
   padding: 1rem;
   margin: 0rem 2rem;
}

p.margin-left{
    margin: 0rem 2rem; /* gleich wie margin in rahmen */
}

.checkbox{
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    border-radius: 1rem;
    padding: 1.5rem;
    }

.checkbox-icon{
      width: 10%;
      height: 2rem;
      width: 2rem;
    }

.nebenCheckbox{
    width: 90%;
}

@media only screen and (max-width: 700px) {

.form-input-field-box{
    align-items: center;
    }

.container_mitmachen label{
    width: 90%;
    }

p.margin-left{
    margin: 0rem;
    }

.checkbox{
    flex-direction: column;
    }

.checkbox-icon{
      width: auto;
    }

.nebenCheckbox{
    width: auto;
    }

}

/* button fuer amelden soll in der mitte sein */
 .form-row{
     display: flex;
     justify-content: center;
 }

a.bunt{
    color: #ff8000;
}

.galerie_text{
    padding-top: 1rem;
    align: center;
    text-align: center;
}

.galerie_box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.2rem 0.4rem;
}

.box-25{
  background-color: #0059b3; /*dunkles blau*/
  flex-direction: row;
  border-radius: 1rem;
  padding: 2rem;
  margin: 1rem;
  border: 1px solid white;
  width: 25%;
  }

@media only screen and (max-width: 850px) {

 .galerie_box {
  flex-direction: column;
  padding: 0.5rem;
  }

 .box-25, {
  width: 100%;
  justify-content: start;
  }

  .galerie_box .container_media_padding{
    width: 100%;
    padding: 0rem;
    margin: .5rem 0;

  }

}

/* popup */

#overlay {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: #000;
filter:alpha(opacity=70);
-moz-opacity:0.7;
-khtml-opacity: 0.7;
opacity: 0.7;
z-index: 100;
display: none;
}
.cnt223 a{
text-decoration: none;
}
.popup{
width: 100%;
margin: 0 auto;
display: none;
position: fixed;
z-index: 101;
}
.cnt223{
min-width: 600px;
width: 600px;
min-height: 150px;
margin: 100px auto;
background: #f3f3f3;
position: relative;
z-index: 103;
padding: 15px 35px;
border-radius: 5px;
box-shadow: 0 2px 5px #000;
}
.cnt223 p{
clear: both;
    color: #555555;
    /* text-align: justify; */
    font-size: 20px;
    font-family: sans-serif;
}
.cnt223 p a{
color: #d91900;
font-weight: bold;
}

.cnt223 h1{
color: #d91900;
font-weight: bold;
}
.cnt223 .x{
float: right;
height: 35px;
left: 22px;
position: relative;
top: -25px;
width: 34px;
}
.cnt223 .x:hover{
cursor: pointer;
}