<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:Name="http://www.w3.org/1999/xhtml"
      th:lang="${#locale.language}">
<head>
    <meta charset="utf-8"/>
    <title>CleanUp</title>
    <link rel="stylesheet" href="style.css" th:href="@{/style.css}"/>
    <link rel="stylesheet" href="reset.css" th:href="@{/reset.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/favicon.ico"/>

</head>
<body>
<div class="main">
    <!-- BANNER -->
    <section class="container_banner" role="banner">
        <div class="container_side_40">
            <h1> CleanUp Roßdorf - Gundernhausen</h1>
            <h2> Anmeldung erfolgreich!</h2>
            <h5> Vielen Dank fürs Mitmachen! <br></h5>
            <a href="/aktionSaubereLandschaft" role="button">Zurück zum CleanUp</a>
        </div>

        <div class="container_main_60">
            <div class="container_media_padding">
                <img src="images/CleanUpBanner2.jpg">
            </div>
        </div>
    </section>



</div>

</body>
</html>