<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:Name="http://www.w3.org/1999/xhtml"
      th:lang="${#locale.language}">
<head>
    <meta charset="utf-8"/>
    <title>CleanUp</title>
    <link rel="stylesheet" href="style.css" th:href="@{/style.css}"/>
    <link rel="stylesheet" href="reset.css" th:href="@{/reset.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/favicon.ico"/>

</head>
<body>
<div class="main">
    <!-- BANNER -->
    <section class="container_banner blue" role="banner">
        <h1>
            Aktion Saubere Landschaft - Anmelden</h1>
    </section>

    <!-- ANMELDEN -->
    <section class="container_mitmachen" id="mitmachen">

        <div class="mitmachen-panel">

            <p class="bold">
                Bitte beachten Sie folgende Hinweise:
            </p>
            <ul class="with-dots">
                <li> Anmeldeschluss ist Mittwoch, der 30.März 2022</li>
                <li> Die Veranstaltung ist auf 50 Personen beschränkt</li>
                <li>Für die Teilnahme an der Aktion Saubere Landschaft bringen Sie bitte eine Mund-
                    Nasen-Abdeckung mit.
                </li>
                <li>Sollten Sie Anzeichen von Erkältungskrankheiten vorweisen, ist eine Teilnahme
                    nicht möglich.
                </li>
                <li>Urlaubsrückkehrer: Sollten Sie sich in den 2 Wochen vor der Veranstaltung in einem ausgewiesenen
                    Corona-Risiko-Gebiet aufgehalten haben, ist die Teilnahme nicht möglich.
                </li>
                <li>Für die Teilnahme an der Aktion Saubere Landschaft ist die Erfassung von
                    Teilnehmerdaten zwingend erforderlich. Bitte füllen Sie dieses Formular vollständig
                    aus und stimmen Sie der elektronischen Erfassung zu. Um die Nachverfolgung
                    von Infektionen zu ermöglichen, müssen wir als Veranstalter nach § 1 der Corona-
                    Kontakt- und Betriebsbeschränkungsverordnung des Landes Hessen Daten unserer
                    Teilnehmenden erfassen. Selbstverständlich achten wir hierbei auf den Schutz Ihrer
                    Daten. Wir danken Ihnen für Ihre Mithilfe.
                </li>
            </ul>

            <p><a class="button" href="/aktionSaubereLandschaft"> Zurück </a>
                <br>
                <br>
                <br>
            </p>

            <section class="box">
                <form method="POST"
                      th:action="@{/aktionSaubereLandschaftAddPerson}"
                      th:object="${givenLocationASL}">
                    <fieldset>
                        <br>
                        <p class="margin-left"> Bitte füllen Sie das Formular aus. Pflichtfelder sind mit *
                            gekennzeichnet.
                            <br>
                            Bei technischen Problemen wenden Sie sich an info@cleanup-rossdorf.de
                            <br>
                            <br>
                        </p>

                        <!--Personendaten-->
                        <div class="rahmen">

                            <div th:replace="fragments/input :: input('text','Vor- und Nachname *:', 'vorUndNachName', 'z.B. Max Mustermann')"></div>
                            <br>
                            <br>
                            <div th:replace="fragments/input :: input('text','Straße HausNr *:', 'strasseHausNr', 'z.B. Darmstädter Str. 1')"></div>
                            <br>
                            <br>
                            <div th:replace="fragments/input :: input('text','PLZ Ort *:', 'plzOrt', 'z.B. 64380 Roßdorf')"></div>
                            <br>
                            <br>
                            <div th:replace="fragments/input :: input('text','Email-Adresse *:', 'emailAdresse', 'z.B. Max@Mustermann.de')"></div>
                            <br>
                            <br>
                            <div th:replace="fragments/input :: input('text','Telefonnummer *:', 'telefonNr', 'z.B. 06154-12345')"></div>

                            <div class="ueber-rahmen">
                                <p>
                                    <br>
                                    Wenn Sie z.B. mit Mitgliedern Ihrer Familie oder Freunden gemeinsam sammeln wollen,
                                    dann geben Sie diese Person(en) bitte  hier an.
                                    Nur den Vor- und Nachnamen.
                                    Es sind keine weiteren Infos nötig, da Sie als Kontaktperson hinterlegt sind.
                                    <br>
                                    <br>
                                </p>
                            </div>

                            <div th:replace="fragments/input :: input('text','weitere Teilnehmer:', 'weitereTeilnehmer', 'z.B. Moritz Mustermann, Heinz Anders')"></div>
                        </div>
                        <br>

                        <!--Location-->
                        <div class="rahmen">
                            <div class="text-in-rahmen">
                                <p>
                                    Bitte wählen Sie bei Ort vorzugsweise eine der vorgegebenen Routen aus der Liste
                                    aus.
                                    Die Orte sind <a class="bunt" href="#routen"> unten </a> nochmal gezeigt.
                                    Sie können aber auch einen selbstgewählten Ort eingeben. Wenn möglich aber nur dann,
                                    wenn alle Routen aus der Liste schon vergeben sind
                                    oder Sie einen verdreckten Ort in Roßdorf/Gundernhausen kennen, der
                                    nicht in der Liste enthalten ist.
                                    <br>
                                    <br>
                                </p>
                            </div>

                            Ort:
                            <select id="id" name="id">
                                <option th:value="''" th:text="bitte_auswählen"></option>
                                <option th:each="location : ${freeLocationsASL}"
                                        th:value="${location.id}"
                                        th:text="${location.getCompactIdAndName()}"></option>
                            </select>
                            <br>
                            <br>
                            <div th:replace="fragments/input :: input('text','oder selbstgewählter Ort:', 'freeLocation', 'z.B. An der Eisernen Hand')"></div>
                        </div>

                        <br>
                        <!--Checkbox Zustimmung Daten-->
                        <div class="rahmen">

                            <div class="text-in-rahmen">
                                <p>
                                    Die Übertragung Ihrer Daten an uns erfolgt verschlüsselt. Sie sind zu keinem
                                    Zeitpunkt
                                    verpflichtet Daten an uns zu übermitteln, sollten Sie jedoch eine
                                    Anmeldung
                                    tätigen wollen, benötigen wir die entsprechenden Informationen.
                                    <br>
                                    <br>
                                </p>
                            </div>

                            <div class="checkbox">
                                <input class="checkbox-icon" type="checkbox" name="personenDaten" value="ok">
                                <p class="nebenCheckbox">
                                    * Hiermit erkläre ich ausdrücklich meine freiwillige Zustimmung zur elektronischen
                                    Erfassung und Weiterverarbeitung meiner personenbezogenen Daten.
                                </p>
                            </div>

                            <div th:if="${#fields.hasErrors('${givenLocationASL.personenDaten}')}">
                                <p class="red"><br>Bitte zustimmen</p>
                            </div>
                        </div>


                        <br>
                        <!--Checkbox Fotos-->
                        <div class="rahmen">

                            <div class="text-in-rahmen">
                                <p>
                                    Die Gemeinde beabsichtigt Fotos aufzunehmen, auf denen die
                                    Betroffenen abgelichtet sein können.
                                    Die Fotoaufnahmen werden zukünftig für Zwecke der PR- und Öffentlichkeitsarbeit der
                                    Gemeinde eingesetzt.
                                    <br>
                                    Die Einwilligungszustimmung ist freiweillig.
                                    <br>
                                    <br>
                                </p>
                            </div>
                            <div class="checkbox">
                                <input class="checkbox-icon" type="checkbox" name="fotosMachen" value="ok">
                                <p class="nebenCheckbox"> Hiermit erkläre ich meine Einwilligung zur Nutzung der Fotoaufnahmen meiner
                                    Person für die oben beschriebenen Zwecke und Verwendungen. Mir ist bekannt, dass ich
                                    für die Veröffentlichung kein Entgelt erhalte. Die Einwilligung erfolgt ausdrücklich
                                    freiwillig.
                                </p>
                            </div>
                        </div>

                        <br/>
                        <div class="form-row">
                            <button type="submit">Anmelden</button>
                            <br>
                        </div>
                    </fieldset>
                </form>
            </section>
        </div>
    </section>

    <section class="container_mitmachen" id="routen">
        <h1 class="title"> Die Routen </h1>
        <div class="subcontainer_mitmachen">
            <div class="mitmachen_text">


                <table id="hidden_mobile">
                    <thead>
                    <tr>
                        <th class="tablerow">Kürzel</th>
                        <th class="tablerow">Ort</th>
                        <th class="tablerow">frei</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="location : ${locations}">
                        <td class="tablerow" th:text="${location.idString}"></td>
                        <td class="tablerow" th:text="${location.name}"></td>
                        <td class="tablerow" th:text="${location.getFrei()}"></td>
                    </tr>
                    </tbody>
                </table>

                <table id="hidden_desktop">
                    <thead>
                    <tr>
                        <th class="tablerow">Kürzel</th>
                        <th class="tablerow">Ort</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="location : ${locations}">
                        <td class="tablerow" th:text="${location.idString}"></td>
                        <td class="tablerow" th:text="${location.name}"></td>
                    </tr>
                    </tbody>
                </table>


            </div>
            <div class="container_side_50" id="hidden_mobile">
                <a href="" class="container_mitmachen_box">
                    <div class="container_media_100">
                        <img src="images/Gundernhausen.png" alt="">
                    </div>
                </a>

                <a href="" class="container_mitmachen_box">
                    <div class="container_media_100">
                        <img src="images/RossdorfNeu2.png" alt="">
                    </div>
                </a>
            </div>
        </div>

        <div id="hidden_desktop">
            <a href="" class="container_mitmachen_box">
                <div class="container_media_100">
                    <img src="images/Gundernhausen.png" alt="">
                </div>
                <p>Routen in Gundernhausen Gx</p>
            </a>

            <a href="" class="container_mitmachen_box">
                <div class="container_media_100">
                    <img src="images/RossdorfNeu2.png" alt="">
                    <p>Routen in Roßdorf Rx</p>
                    <br>
                </div>
            </a>
        </div>

    </section>

</div>


</body>
</html>