<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:Name="http://www.w3.org/1999/xhtml"
      th:lang="${#locale.language}">
<head>
    <meta charset="utf-8"/>
    <title>CleanUp</title>
    <link rel="stylesheet" href="style.css" th:href="@{/style.css}"/>
    <link rel="stylesheet" href="reset.css" th:href="@{/reset.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/favicon.ico"/>

</head>
<body>
<div class="main">
    <!-- BANNER -->
    <section class="container_banner blue" role="banner">
        <h1>
            Aktion Saubere Landschaft - Anmelden</h1>
    </section>

    <!-- ANMELDEN -->
    <section class="container_mitmachen" id="mitmachen">

        <div class="mitmachen-panel">

            <p class="bold">
                Bitte beachten Sie folgende Hinweise:
            </p>
            <ul class="with-dots">
                <li> Anmeldeschluss ist Mittwoch, der 30.März 2022</li>
                <li> Die Veranstaltung ist auf 50 Personen beschränkt</li>
                <li>Für die Teilnahme an der Aktion Saubere Landschaft bringen Sie bitte eine Mund-
                    Nasen-Abdeckung mit.
                </li>
                <li>Sollten Sie Anzeichen von Erkältungskrankheiten vorweisen, ist eine Teilnahme
                    nicht möglich.
                </li>
                <li>Sollten Sie sich in den 2 Wochen vor der Veranstaltung in einem ausgewiesenen
                    Corona-Risiko-Gebiet aufgehalten haben, ist die Teilnahme nicht möglich.
                </li>
                <li>Für die Teilnahme an der Aktion Saubere Landschaft ist die Erfassung von
                    Teilnehmerdaten zwingend erforderlich. Bitte füllen Sie dieses Datenblatt vollständig
                    aus und bestätigen Sie die Richtigkeit mit Ihrer Unterschrift. Um die Nachverfolgung
                    von Infektionen zu ermöglichen, müssen wir als Veranstalter nach § 1 der Corona-
                    Kontakt- und Betriebsbeschränkungsverordnung des Landes Hessen Daten unserer
                    Teilnehmenden erfassen. Selbstverständlich achten wir hierbei auf den Schutz Ihrer
                    Daten*. Wir danken Ihnen für Ihre Mithilfe.
                </li>
            </ul>

            <section class="box">
                <form method="POST"
                      th:action="@{/aktionSaubereLandschaftAddPerson}"
                      th:object="${givenLocationASL}">
                    <fieldset>
                        <div th:replace="fragments/input :: input('text','Vor- und Nachname', 'vorUndNachName')"/>
                        <div th:replace="fragments/input :: input('text','Straße mit HausNr', 'strasseHausNr')"/>
                        <div th:replace="fragments/input :: input('text','PLZ Ort', 'plzOrt')"/>
                        <div th:replace="fragments/input :: input('text','Email-Adresse', 'emailAdresse')"/>
                        <div th:replace="fragments/input :: input('text','weitere Teilnehmer', 'weitereTeilnehmer')"/>
                        <div class="nebeneinander">

                            Ort:
                            <select id="id" name="id">-->
                                <option th:value="''" th:text="bitte_auswählen"></option>
                                <option th:each="location : ${freeLocationsASL}"
                                        th:value="${location.id}"
                                        th:text="${location.getCompactIdAndName()}"></option>
                            </select>
                            <div th:replace="fragments/input :: input('text','freier Ort', 'freeLocation')"/>

                            <div class="checkbox">
                                <input class="checkbox-icon" type="checkbox" name="personenDaten" value="ok">
                                <p>
                                    Hiermit erkläre ich ausdrücklich meine freiwillige Zustimmung zur elektronischen
                                    Erfassung und Weiterverarbeitung meiner personenbezogenen Daten.
                                    <br>
                                    Die Übertragung Ihrer Daten an uns erfolgt verschlüsselt. Sie sind zu keinem
                                    Zeitpunkt
                                    verpflichtet Daten an uns zu übermitteln, sollten Sie jedoch eine Anfrage bzw.
                                    Anmeldung
                                    tätigen wollen, benötigen wir die entsprechenden Informationen.
                                </p>
                            </div>
                            <!-- wird nur angezeigt wenn es fehler gibt -->
                            <div th:if="${#fields.hasErrors('${givenLocationASL.personenDaten}')}">
                                <p class="red"><br>Bitte zustimmen</p>
                            </div>
                        </div>
                        <br/>
                        <div class="form-row">
                            <button type="submit">Anmelden</button>
                            <br>
                        </div>
                    </fieldset>
                </form>
            </section>
        </div>
    </section>

</div>
</body>
</html>