<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>CleanUp</title>
    <link rel="stylesheet" href="style.css" th:href="@{/style.css}"/>
    <link rel="stylesheet" href="reset.css" th:href="@{/reset.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/favicon.ico"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(function(){
         $('.navigation').load("navigation");
         });
    </script>
</head>

<body>

<div class="navigation"></div>

<main>

    <!-- CONTACT -->
    <section id="contact">
        <div class="container_contact">


            <h1 class="title"> Kontakt </h1>

            <div class="bilder">
                <img class="rundesBild" src="images/KatrinQuad.png" alt="Avatar">
                <img class="rundesBild" src="images/KristinaQuad.png" alt="Avatar">
                <img class="rundesBild" src="images/KatrinQuad.png" alt="Avatar">
                <img class="rundesBild" src="images/KristinaQuad.png" alt="Avatar">
            </div>

            <p>
                Wir sind eure Ansprechpartner und sorgen dafür, dass das CleanUp jeden Monat stattfindet.
                Wir kümmern uns um die Webseite, die Müllentsorgung, die RAZ-Artikel und was sonst so ansteht.
                <br>
                <br>
            </p>

            <div class="contact_info">
                <div>
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <span> Orga-Team: </span>
                    <p> Katrin Rose, Kristina Wallmichrath, Rüdiger Dunker & Manuel Montag </p>
                </div>

                <div>
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <span> E-Mail: </span>
                    <p> info@cleanup-rossdorf.de </p>
                </div>

                <div>
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                    <span> facebook: </span>
                    <p><a href="https://www.facebook.com/groups/cleanuprossdorfgundernhausen/ " target="_blank">
                        CleanUp Gruppe - Roßdorf Gundernhausen
                    </a></p>
                </div>

                <div>
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                    <span> instagram: </span>
                    <p><a href="https://www.instagram.com/cleanup_rossdorf/ " target="_blank">
                        cleanup_rossdorf
                    </a></p>
                </div>


                <div>
                    <i class="fa fa-linux" aria-hidden="true"></i>
                    <span> Webmaster: </span>
                    <p> Katrin Rose </p>
                </div>

                <div>
                    <i class="fa fa-server" aria-hidden="true"></i>
                    <span> Sponsor: </span>
                    <p><a href="https://www.objectix.de/" target="_blank"> <img src="images/objectix-logo.png"></a></p>
                </div>
            </div>
            <p class="padding-top">Dies ist eine private Initiative. Diese Webseite wird nicht für kommerzielle Zwecke
                genutzt. <br> gemaltes Kinderbild (home): iStock-Illustration-ID:1001374964, Bildnachweis:Lisitsa</p>
        </div>
    </section>
</main>

</body>
</html>