<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8"/>
    <title>CleanUp</title>
    <link rel="stylesheet" href="style.css" th:href="@{/style.css}"/>
    <link rel="stylesheet" href="reset.css" th:href="@{/reset.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/favicon.ico"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(function(){
         $('.navigation').load("navigation");
         });
    </script>
</head>

<body class="background">

<div class="navigation"></div>

<main>
    <!--fotos auf 400x400 skalieren-->
    <section class="sehrdunkelblauer_hintergrund container_contact mitmachen-panel">

        <h1 class="title"> Galerie der Schande</h1>

        <!-- Page Content -->
        <div class="container">


            <p id="small_letters" class="galerie_text"> In Anlehnung an die
                <a class="bunt" target="_blank"
                   href="https://www.youtube.com/watch?v=4sQJQVbk7Yo">
                    Girlande der Schande</a>
                seht ihr hier kuriose Funde oder einen Teil des
                alltäglichen Wilmüll-Wahnsinns, den wir jeden Monat immer wieder begegnen.
                <br><br>
            </p>

            <div class="galerie_box">
                <div class="container_media_padding box-25">
                    <img class="" src="images/galerie/KFC4.png" alt="">
                </div>

                <div class="container_media_padding box-25">
                    <img class="" src="images/galerie/KFC2.png" alt="">
                </div>

                <div class="container_media_padding box-25">
                    <img class="" src="images/galerie/KFC1.png" alt="">
                </div>

            </div>
            <p>Willkommen, KFC, in Roßdorf ... (Impressionen eine Woche nach der Eröffnung)</p>
            <div class="galerie_box">
                <div class="container_media_padding box-25">
                    <img class="" src="images/galerie/muell1.png" alt="">
                </div>

                <div class="container_media_padding box-25">
                    <img class="" src="images/galerie/muell2.png" alt="">
                </div>

                <div class="container_media_padding box-25">
                    <img class="" src="images/galerie/muell3.png" alt="">
                </div>
            </div>

            <div class="galerie_box">
                <div class="container_media_padding box-25">
                    <img class="" src="images/galerie/muell4.png" alt="">
                </div>

                <div class="container_media_padding box-25">
                    <img class="" src="images/galerie/schreibmaschine.png" alt="">
                </div>

                <div class="container_media_padding box-25">
                    <img class="" src="images/galerie/muell5.png" alt="">
                </div>
            </div>

        </div>
    </section>
</main>

</body>
</html>