<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:Name="http://www.w3.org/1999/xhtml"
      th:lang="${#locale.language}">
<head>
    <meta charset="utf-8"/>
    <title>CleanUp</title>
    <link rel="stylesheet" href="style.css" th:href="@{/style.css}"/>
    <link rel="stylesheet" href="reset.css" th:href="@{/reset.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/favicon.ico"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(function(){
         $('.navigation').load("navigation");
         });
    </script>
</head>
<body>

<div class="navigation"></div>

<main>

    <!-- BANNER -->
    <section class="container_banner" role="banner">
        <div class="container_main_60">
            <div class="container_media_padding">
                <img src="images/CleanUpBanner2.jpg">
            </div>
        </div>

        <div class="container_side_40">
            <h1 id="hidden_mobile"> CleanUp Roßdorf - Gundernhausen</h1>
            <h1 id="hidden_desktop"> CleanUp</h1>
            <h2> Wir machen Roßdorf und Gundernhausen sauber!
                <br>
                <br>
            </h2>
            <h2 class="red">
                ACHTUNG: am ersten Sonntag im September gehen wir bei der Kerb in Gundernhausen mit!
                Wer Lust hat mizugehen: bitte meldet euch bei info@cleanup-rossdorf.de :)
                <br>
                <br>
            </h2>
            <h5>
                <br>
                <br>
                Wir treffen uns jeden ersten Sonntag im Monat und sammeln
                von ca. 11:00 bis 13:00 Wildmüll auf.
                <br>
                <br>
                Jede:r kann mitmachen! Alles was du brauchst ist ein Müllbeutel, einen Greifer
                oder Handschuhe und Lust dich an der frischen Luft zu bewegen.
                <br>
                <br></h5>
            <a href="#info" role="button">Mehr Infos</a>
        </div>
    </section>

    <!-- MITMACHEN -->
    <section id="info" class="container_mitmachen">
        <h1 class="title"> Wann-Wie-Wo? </h1>

        <div class="mitmachen-panel">

            <p class="bold">Die nächste Aktion ist am Sonntag, den <span th:text="${nextEvent}"></span>.</p>
            <br>

            <p>Damit möglichst viele - und keine doppelten - Stellen abgesammelt werden haben wir eine Liste
                mit Orten erstellt, für welche ihr euch
                <a class="bunt" href="/mitmachen">anmelden</a> könnt.
                Ihr könnt aber auch einen eigenen Ort zum Sammeln angeben.
                <br/><br/>
                Ihr müsst nicht Sonntags um 11:00 starten, d.h. ihr könnt also auch kürzer oder länger, oder auch schon
                am Samstag sammeln.

                Hauptsache ihr seid am Sonntag, den <span th:text="${nextEvent}"></span> rechtzeitig am Sammelpunkt zum
                Abliefern eurer Beute :)
                <br/><br/>
            </p>

            <p class="bold">
                Sammelpunkt zum Abgeben des Mülls ist gegen 13:00 am Freibad in Roßdorf
                und ca. 15 min später am Kerbplatz in Gundernhausen.
                <br/><br/>
            </p>

            <p>
                Rüdiger oder Manuel kommen mit ihrem Hänger zu diesen Orten gefahren, sammeln alles ein und bringen es
                am Folgetag zum Bauhof. Ihr müsst den gesammelten Müll also nicht privat entsorgen.
                <br/><br/>
            </p>

            <p class="bold">Mach auch mit und such dir eine Route aus!
                <br/><br/>
            </p>
            <a class="button" href="/mitmachen" role="button">Mitmachen</a>
            <br/><br/>
        </div>
    </section>

    <!-- Mitmacher -->
    <section class="container_mitmacher" id="mitmacher">
        <h1 class="title"> Mitmacher </h1>
        <div class="subcontainer_mitmacher">
            <div class="mitmachen_text">
                <p>Danke an alle, die sich für den <span th:text="${nextEvent}"></span>
                    angemeldet haben!
                    <br>
                    <br>
                </p>


                <table id="hidden_mobile">
                    <thead>
                    <tr>
                        <th class="tablerow">Name</th>
                        <th class="tablerow">angemeldet am</th>
                        <th class="tablerow">Ort</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="participant : ${participants}">
                        <td class="tablerow" th:text="${participant.name}"></td>
                        <td class="tablerow" th:text="${participant.angemeldetAm}"></td>
                        <td class="tablerow" th:text="${participant.locationName}"></td>
                    </tr>
                    </tbody>
                </table>

                <table id="hidden_desktop">
                    <thead>
                    <tr>
                        <th class="tablerow">Name</th>
                        <th class="tablerow">Ort</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="participant : ${participants}">
                        <td class="tablerow" th:text="${participant.name}"></td>
                        <td class="tablerow" th:text="${participant.locationName}"></td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </section>


</main>
</body>
</html>