<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:Name="http://www.w3.org/1999/xhtml"
      th:lang="${#locale.language}">
<head>
    <meta charset="utf-8"/>
    <title>CleanUp</title>
    <link rel="stylesheet" href="style.css" th:href="@{/style.css}"/>
    <link rel="stylesheet" href="reset.css" th:href="@{/reset.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/favicon.ico"/>

</head>
<body>
<div class="main">
    <!-- BANNER -->
    <section class="container_banner" role="banner">
        <div class="container_main_60">
            <div class="container_media_padding">
                <img src="images/CleanUpBanner2.jpg">
            </div>
        </div>

        <div class="container_side_40">
            <h1> CleanUp Roßdorf - Gundernhausen</h1>
            <h2> Wir machen Roßdorf und Gundernhausen sauber!</h2>
            <h5> Wir treffen uns jeden ersten Sonntag im Monat und sammeln
                von ca. 11:00 bis 13:00 Müll auf. <br>
                Dabei sorgen wir für den Transport der „Beute" zum Wertstoffhof.
                Euch entstehen keine Kosten!<br></h5>
            <a href="#anmelden" role="button">Mitmachen</a>
        </div>
    </section>

    <!-- MITMACHEN -->
    <section class="container_mitmachen" id="mitmachen">
        <h1 class="title"> Mitmachen </h1>
        <div class="subcontainer_mitmachen">

            <div class="mitmachen_text">
                <h2>Die nächste Aktion ist am Sonntag, den <span th:text="${nextEvent}"></span>.</h2>
                <p>Damit möglichst viele - und keine doppelten - Stellen abgesammelt werden haben wir eine Liste
                    mit Orten erstellt, für welche ihr euch anmelden könnt. Ihr könnt aber auch einen eigenen Ort
                    zum Sammeln angeben. Siehe weiter unten.
                    <br/><br/>
                    Wenn ihr Feedback zu den Routen habt,
                    gerne eine Mail an info@cleanup-rossdorf.de schicken, danke!</p>

                <table id="hidden_mobile">
                    <thead>
                    <tr>
                        <th class="tablerow">Kürzel</th>
                        <th class="tablerow">Ort</th>
                        <th class="tablerow">frei</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="location : ${locations}">
                        <td class="tablerow" th:text="${location.idString}"></td>
                        <td class="tablerow" th:text="${location.name}"></td>
                        <td class="tablerow" th:text="${location.getFrei()}"></td>
                    </tr>
                    </tbody>
                </table>

                <table id="hidden_desktop">
                    <thead>
                    <tr>
                        <th class="tablerow">Kürzel</th>
                        <th class="tablerow">Ort</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="location : ${locations}">
                        <td class="tablerow" th:text="${location.idString}"></td>
                        <td class="tablerow" th:text="${location.name}"></td>
                    </tr>
                    </tbody>
                </table>


            </div>
            <div class="container_side_50" id="hidden_mobile">
                <a href="" class="container_mitmachen_box">
                    <div class="container_media_100">
                        <img src="images/Gundernhausen.png" alt="">
                    </div>
                </a>

                <a href="" class="container_mitmachen_box">
                    <div class="container_media_100">
                        <img src="images/RossdorfNeu.png" alt="">
                    </div>
                </a>
            </div>
        </div>


        <div id="hidden_desktop">
            <a href="" class="container_mitmachen_box">
                <div class="container_media_100">
                    <img src="images/Gundernhausen.png" alt="">
                </div>
                <p>Routen in Gundernhausen Gx</p>
            </a>

            <a href="" class="container_mitmachen_box">
                <div class="container_media_100">
                    <img src="images/RossdorfNeu.png" alt="">
                    <p>Routen in Roßdorf Rx</p>
                </div>
            </a>
        </div>

        <div class="mitmachen-panel">
            <p class="padding-top">

            <div class="bold">
                Sammelpunkt zum Abgeben des Mülls ist gegen 13:00 am Freibad in Roßdorf
                und ca. 15 min später am Kerbplatz in Gundernhausen.
            </div>

            <br>
            Ihr müsst nicht um 11:00 starten, d.h. ihr könnt also auch kürzer oder länger, oder auch schon am Samstag sammeln.
            Hauptsache ihr seid am jeweiligen Sonntag rechtzeitig am Sammelpunkt zum Abliefern :)

            <br><br>
            Rüdiger kommt mit seinem Hänger zu diesen Orten gefahren. Für Fragen oder besondere
            Abholwünsche bei schweren Fundstücken dürft ihr ihn anrufen: 0172 7418178.
            <br><br id="anmelden">

            <span class="bold">Mach auch mit!</span>
            Gib deinen Namen (gerne auch nur Vornamen) ein und
            wähle einen freien Ort aus, wo du Müll sammeln möchtest.


            <form class="mitmachen_form" method="POST" th:action="@{/addPerson}" th:object="${givenLocation}">

                <div class="mitmachen_select">
                    Name: <input name="name"/>
                    Ort:
                    <select id="id" name="id">
                        <option th:value="''" th:text="bitte_auswählen"></option>
                        <option th:each="location : ${freeLocations}"
                                th:value="${location.id}"
                                th:text="${location.getCompactIdAndName()}"></option>
                    </select>
                </div>

                <button type="submit">Anmelden</button>
            </form>

            Alle Routen schon vergeben? Oder du möchtest gerne woanders Müll sammeln?
            Dann trage hier deinen Namen und einen selbstgewählten Ort ein:

            <form class="mitmachen_form" method="POST" th:action="@{/addPersonNewRoute}" th:object="${freeLocation}">

                <div class="mitmachen_select">
                    Name: <input th:field="*{name}"/>
                    Ort: <input th:field="*{location}"/>
                </div>

                <button type="submit">Anmelden</button>
            </form>
        </div>
    </section>

    <!-- Mitmacher -->
    <section class="container_mitmacher" id="mitmacher">
        <h1 class="title"> Mitmacher </h1>
        <div class="subcontainer_mitmacher">
            <div class="mitmachen_text">
                <h5 class="padding">Danke an alle, die sich für den <span th:text="${nextEvent}"></span>
                    angemeldet haben!</h5>


                <table id="hidden_mobile">
                    <thead>
                    <tr>
                        <th class="tablerow">Name</th>
                        <th class="tablerow">angemeldet am</th>
                        <th class="tablerow">Ort</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="participant : ${participants}">
                        <td class="tablerow" th:text="${participant.name}"></td>
                        <td class="tablerow" th:text="${participant.angemeldetAm}"></td>
                        <td class="tablerow" th:text="${participant.locationName}"></td>
                    </tr>
                    </tbody>
                </table>

                <table id="hidden_desktop">
                    <thead>
                    <tr>
                        <th class="tablerow">Name</th>
                        <th class="tablerow">Ort</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="participant : ${participants}">
                        <td class="tablerow" th:text="${participant.name}"></td>
                        <td class="tablerow" th:text="${participant.locationName}"></td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </section>


    <!-- CONTACT -->
    <section id="contact">
        <div class="container_contact">


            <h1 class="title"> Kontakt </h1>

            <div class="contact_info">
                <div>
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <span> Idee und Organisation: </span>
                    <p> Sabrina Anna Hänsel, Katrin Rose, Kristina Wallmichrath und Rüdiger Dunker </p>
                </div>

                <div>
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <span> E-Mail: </span>
                    <p> info@cleanup-rossdorf.de </p>
                </div>

                <div>
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                    <span> facebook: </span>
                    <p><a href="https://www.facebook.com/groups/cleanuprossdorfgundernhausen/ " target="_blank">
                        CleanUp Gruppe - Roßdorf Gundernhausen
                    </a></p>
                </div>

                <div>
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                    <span> instagram: </span>
                    <p><a href="https://www.instagram.com/cleanup_rossdorf/ " target="_blank">
                        cleanup_rossdorf
                    </a></p>
                </div>


                <div>
                    <i class="fa fa-linux" aria-hidden="true"></i>
                    <span> Webmaster: </span>
                    <p> Katrin Rose </p>
                </div>

                <div>
                    <i class="fa fa-server" aria-hidden="true"></i>
                    <span> Sponsor: </span>
                    <p><a href="https://www.objectix.de/" target="_blank"> <img src="images/objectix-logo.png"></a></p>
                </div>
            </div>
            <h3 class="padding-top">Dies ist eine private Initiative. Diese Webseite wird nicht für kommerzielle Zwecke
                genutzt. <br> Bild: iStock-Illustration-ID:1001374964, Bildnachweis:Lisitsa</h3>
        </div>
    </section>

</div>

</body>
</html>