<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:Name="http://www.w3.org/1999/xhtml"
      th:lang="${#locale.language}">
<head>
    <meta charset="utf-8"/>
    <title>CleanUp</title>
    <link rel="stylesheet" href="style.css" th:href="@{/style.css}"/>
    <link rel="stylesheet" href="reset.css" th:href="@{/reset.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/favicon.ico"/>

</head>
<body>
<div class="main">
    <!-- BANNER -->
    <section class="container_banner blue" role="banner">
        <h1> CleanUp Spezial im April 2022
            <br>
            <br>
            Aktion Saubere Landschaft</h1>
    </section>
    <section class="container_banner" role="banner">

        <div class="container_main_60">
            <div class="container_media_padding">
                <img src="images/CleanUpBanner2.jpg">
            </div>
        </div>

        <div class="container_side_40">
            <h1> CleanUp Roßdorf - Gundernhausen</h1>
            <h2> Wir machen Roßdorf und Gundernhausen sauber!</h2>
            <h5> Normalerweise treffen wir uns jeden ersten Sonntag im Monat und sammeln
                von ca. 11:00 bis 13:00 Müll auf.
                <br>
                <br>
                In diesem April ist es anders. Gemeinsam mit der Gemeinde
                sammeln wir diesmal am ersten </h5>
            <h3>SAMSTAG, den 2.4.2022 von 10:00 bis 13:00,</h3>
            <h5> mit einem gemeinsamen Ausklang am Bauhof in Roßdorf.</h5>
        </div>
    </section>

    <!-- MITMACHEN -->
    <section class="container_mitmachen" id="mitmachen">
        <h1 class="title"> Mitmachen </h1>

        <div class="mitmachen-panel">


            <p> Die gemeinsame Aktion der Gemeinde Roßdorf, der ZAW und dem CleanUp am 2.4.2022 soll folgendermaßen
                ablaufen:
                <br>
                <br>
                Wir treffen uns um 10:00 an verschiedenen Treffpunkten in Roßdorf bzw. Gundernhausen.
                Dein Treffpunkt richtet sich daran aus, wo du Müll sammeln möchtest.
                <br>
                <br>
                An jedem Treffpunkt wird jemand des Orgateams sein um Materialien wie Greifer, Weste, Müllsäcke sowie
                Handschuhe zu verteilen und Fragen zu beantworten.
                <br>
                <br>
                Dann zieht jedes Grüppchen los und sammelt Müll in der vorher ausgewählten Route.
                <br>
                <br>
                Um 13:00 treffen wir uns dann ALLE in Roßdorf am Bauhof (Industriestr. 12) für einen gemütlichen
                Ausklang. Für Essen und Getränke ist gesorgt!
                <br>
                <br>
                Bleibt die Frage: wo wollt ihr Müll sammeln? Die von uns vorgeschlagenen Routen findet ihr in der
                Tabelle. Ihr könnt sie auch in den Karten sehen. Die Kürzel G bzw. R in der Tabelle stehen für
                Gundernhausen und Roßdorf.
                <br> <br>
        </div>

        <div class="subcontainer_mitmachen">

            <div class="mitmachen_text">


                <table id="hidden_mobile">
                    <thead>
                    <tr>
                        <th class="tablerow">Kürzel</th>
                        <th class="tablerow">Ort</th>
                        <th class="tablerow">frei</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="location : ${locations}">
                        <td class="tablerow" th:text="${location.idString}"></td>
                        <td class="tablerow" th:text="${location.name}"></td>
                        <td class="tablerow" th:text="${location.getFrei()}"></td>
                    </tr>
                    </tbody>
                </table>

                <table id="hidden_desktop">
                    <thead>
                    <tr>
                        <th class="tablerow">Kürzel</th>
                        <th class="tablerow">Ort</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="location : ${locations}">
                        <td class="tablerow" th:text="${location.idString}"></td>
                        <td class="tablerow" th:text="${location.name}"></td>
                    </tr>
                    </tbody>
                </table>


            </div>
            <div class="container_side_50" id="hidden_mobile">
                <a href="" class="container_mitmachen_box">
                    <div class="container_media_100">
                        <img src="images/Gundernhausen.png" alt="">
                    </div>
                </a>

                <a href="" class="container_mitmachen_box">
                    <div class="container_media_100">
                        <img src="images/RossdorfNeu2.png" alt="">
                    </div>
                </a>
            </div>
        </div>


        <div id="hidden_desktop">
            <a href="" class="container_mitmachen_box">
                <div class="container_media_100">
                    <img src="images/Gundernhausen.png" alt="">
                </div>
                <p>Routen in Gundernhausen Gx</p>
            </a>

            <a href="" class="container_mitmachen_box">
                <div class="container_media_100">
                    <img src="images/RossdorfNeu2.png" alt="">
                    <p>Routen in Roßdorf Rx</p>
                    <br>
                </div>
            </a>
        </div>

        <div class="mitmachen-panel">
            <p class="padding-top">
            <p>
                <br><br id="anmelden">
            </p>
            <p class="bold">Macht auch mit!</p>
            <br>
            <p>
                Sucht euch eine der freien Routen aus.
                Fall ihr woanders sammeln möchtet, dann könnt ihr im Anmeldeformular auch einen anderen Ort eintragen.
            </p>
            <p class="bold">
                <br>
                <br>
                Achtung: Anmeldeschluss ist am Mittwoch, dem 30.März 2022!
                <br>
                <br>
                <br>
                <a class="button" href="/aktionSaubereLandschaftAnmelden" role="button">Anmelden</a>
                <br>
                <br>
                <br>
                <br>
            </p>


        </div>
    </section>

    <!-- Mitmacher -->
    <section class="container_mitmacher" id="mitmacher">
        <h1 class="title"> Mitmacher </h1>
        <div class="subcontainer_mitmacher">
            <div class="mitmachen_text">
                <p>Danke an alle, die sich für den 02.04.2022 angemeldet haben!
                    <br>
                    <br>
                    An folgenden Orten wird schon gesammelt:
                    <br>
                    <br>
                </p>
                <table>
                    <thead>
                    <tr>
                        <th class="tablerow">Ort</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="participant : ${participantsASL}">
                        <td class="tablerow" th:text="${participant.locationName}"></td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </section>

    <!-- PRESSE -->
    <section class="container_banner" role="banner">
        <div class="container_main_60">
            <div class="container_media_padding">
                <img src="images/CleanUpBanner2.jpg">
            </div>
        </div>

        <div class="container_side_40">
            <h1> Presse</h1>
            <h2> Hier könnt ihr unsere Artikel nochmal nachlesen (veröffentlicht im Roßdörfer Anzeiger)</h2>
            <a href="/presse" role="button">Lesen</a>
        </div>
    </section>

    <!-- CONTACT -->
    <section id="contact">
        <div class="container_contact">


            <h1 class="title"> Kontakt </h1>

            <div class="contact_info">
                <div>
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <span> Idee und Organisation: </span>
                    <p> Sabrina Anna Hänsel, Katrin Rose, Kristina Wallmichrath und Rüdiger Dunker </p>
                </div>

                <div>
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <span> E-Mail: </span>
                    <p> info@cleanup-rossdorf.de </p>
                </div>

                <div>
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                    <span> facebook: </span>
                    <p><a href="https://www.facebook.com/groups/cleanuprossdorfgundernhausen/ " target="_blank">
                        CleanUp Gruppe - Roßdorf Gundernhausen
                    </a></p>
                </div>

                <div>
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                    <span> instagram: </span>
                    <p><a href="https://www.instagram.com/cleanup_rossdorf/ " target="_blank">
                        cleanup_rossdorf
                    </a></p>
                </div>


                <div>
                    <i class="fa fa-linux" aria-hidden="true"></i>
                    <span> Webmaster: </span>
                    <p> Katrin Rose </p>
                </div>

                <div>
                    <i class="fa fa-server" aria-hidden="true"></i>
                    <span> Sponsor: </span>
                    <p><a href="https://www.objectix.de/" target="_blank"> <img src="images/objectix-logo.png"></a></p>
                </div>
            </div>
            <h3 class="padding-top">Dies ist eine private Initiative. Diese Webseite wird nicht für kommerzielle Zwecke
                genutzt. <br> Bild: iStock-Illustration-ID:1001374964, Bildnachweis:Lisitsa</h3>
        </div>
    </section>

</div>

</body>
</html>