<!-- Navigation -->
<!--- HEADER  -->
<header role="heading">
    <nav>
        <!-- DESKTOP VERSION -->
        <ul id="hidden_mobile">
            <li><a href="/about">Über uns</a></li>
            <li><a href="/galerie">Galerie</a></li>
            <li><a href="/presse">Presse</a></li>
            <li><a href="/mitmachen">Mitmachen</a></li>
            <li><a href="/">Home</a></li>
        </ul>

        <!-- MOBILE VERSION-->
        <i id="hidden_desktop" class="menu_button fa fa-bars  fa-2x" aria-hidden="true"></i>
        <ul id="hidden_desktop" class="menu_items hidden">
            <li><a href="/">Home</a></li>
            <li><a href="/mitmachen">Mitmachen</a></li>
            <li><a href="/presse">Presse</a></li>
            <li><a href="/galerie">Galerie</a></li>
            <li><a href="/about">Über uns</a></li>
        </ul>
    </nav>
</header>
<script src="main.js"></script>