<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:Name="http://www.w3.org/1999/xhtml"
      th:lang="${#locale.language}">
<head>
    <meta charset="utf-8"/>
    <title>CleanUp</title>
    <link rel="stylesheet" href="style.css" th:href="@{/style.css}"/>
    <link rel="stylesheet" href="reset.css" th:href="@{/reset.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli">


    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/favicon.ico"/>

</head>
<body>
<div class="main">

    <!-- ARTIKEL BANNER -->
    <section class="container_banner" role="banner">
        <div class="container_main_60">
            <div class="container_media_padding">
                <img src="images/CleanUpBanner2.jpg">
            </div>
        </div>

        <div class="container_side_40">
            <h1> CleanUp Roßdorf - Gundernhausen</h1>
            <h2> Wir machen Roßdorf und Gundernhausen sauber!</h2>
            <h5> Hier könnt ihr alle Artikel lesen, die wir über unsere CleanUp Aktionen
                im Roßdörfer Anzeiger geschrieben haben.</h5>
            <a href="/" class="button" role="button">Zurück zum CleanUp</a>
        </div>
    </section>

    <!--************** Artikel **************************************************-->

    <section class="container_presse dunkelblauer_hintergrund">
        <h1 class="title_dunkel"> November 2021 </h1>

        <div class="container_main_60">
            <div id="hidden_mobile" class="container_media_padding">
                <img src="images/2021_11Bild.jpg">
            </div>
            <div id="hidden_desktop" class="container_media_padding">
                <img src="images/2021_11BildMobile.jpg">
            </div>


            <h2>CleanUp Jubiläum am 07.11.2021
            </h2>
            <p>
                Wer hätte das gedacht? Uns gibt es nun schon ein Jahr. Wir werden nicht müde und der Müll (leider) nicht
                weniger.
                <br><br>
                Inzwischen sind wir ein eingespieltes Team aus einem harten Kern und vielen
                „Wiederholungstätern“, wie z.B. unsere Roßdörfer Bürgermeisterkandidatin Astrid Kaufmann.
                Darüber freuen wir uns sehr. Astrid sammelte in Gundernhausen, weswegen sie wie die anderen fleißigen
                Müllsammler:innen aus Gundernhausen auf unserem heutigen Bild leider nicht zu sehen ist. Das werden
                wir nächsten RAZ Artikel ändern!
                <br><br>
                Es kommen auch immer wieder neue Mitmacher: innen dazu. So hatten einige Mitarbeiter der
                Haftpflichtkasse in der letzten Woche Müll im Industriegebiet gesammelt, den Katrin heute zum Treffpunkt
                mitgebracht hat. Außerdem war diesmal auch unser Landtagsabgeordneter Bijan Kaffenberger tatkräftig
                mit an Bord. Auch darüber haben wir uns sehr gefreut.
                Obwohl wir klar sagen “wir gehören zu keiner Partei”, freut es uns doch sehr, dass wir bemerkt werden.
                <br><br>
                Es freut uns sehr, dass die Politiker:innen parteiübergreifend dann auch einfach mit anpacken
                und sich nicht zu schade sind, die Müllzange in die Hand zu nehmen, um die Umwelt von
                Wildmüll zu befreien.
                <br><br>
                Heute hatten wir zwar keine besonders erwähnenswerten Funde, allerdings gab es den traurigen Rekord
                von 44 weggeworfenen Masken rund um Bürgerzentrum und Justin-Wagner-Schule. Um beide Schulen in
                Roßdorf sieht es leider auch jedes Mal schlimm aus und wir können nur immer wieder appellieren: gebt
                den Kindern Brotdosen, statt Süßigkeiten und Müsliriegel in Plastik mit, denn letzteres sammeln wir am
                Ende ein! Außerdem finden wir leider auch immer wieder viele Fastfood Verpackungen im Umfeld der JWS.

                <br><br>
                Unser nächstes Cleanup findet am 5. Dezember statt. Wie immer treffen wir uns um 13 Uhr am
                Schwimmbad bzw. 15 Minuten später am Kerbplatz in Gundernhausen zum Einsammeln der Beute. Dann
                wieder mit Rüdigers Hänger. Heute hat dankenswerterweise Manuel übernommen, damit Rüdiger auf
                Schalke für die Lilien jubeln konnte!
                <br><br>
                Kristina Wallmichrath und das Team vom Cleanup
                <br><br>
            </p>


            <div id="hidden_mobile" class="container_media_padding">
                <img src="images/2021_11_extraBild.jpg">
            </div>
            <div id="hidden_desktop" class="container_media_padding">
                <img src="images/2021_11_extraBildMobile.jpg">
            </div>


            <h2>Mein persönlicher clean-up-day
            </h2>
            <p>
                Ich fahre täglich mit dem Fahrrad von Roßdorf nach Bessungen. Jeden Tag erfreue ich mich an den
                Herbstfarben! Das einzige was mich stört, sind die Farbtupfer, die nicht zum Herbst passen: Müll am
                Fahrradweg!
                <br><br>
                Neulich hing im Gebüsch eine neue große Mülltüte. Das war ein Zeichen für meinen persönlichen
                clean-up-day. Mit dieser Tüte am Fahrrad bin ich am nächsten Tag 15 Minuten früher los gefahren und habe
                allen Müll am Fahrradweg eingesammelt. Meistens musste ich noch nicht einmal vom Fahrrad steigen und ein
                Stopp hat ungefähr 3-4 Sekunden gedauert. Handschuhe habe ich beim Fahrradfahren sowieso an.
                Den Müll konnte ich in der Arbeit entsorgen, dafür habe ich den Euro Pfandgeld der gesammelten Dosen in
                die Kaffeekasse geschmissen. Die 15 Minuten haben locker gereicht.
                <br><br>

                Am meisten gefreut hat mich ein junger Fußgänger, der mir aus tiefstem Herzen gedankt hat und natürlich
                der schöne saubere Heimweg durch die Herbstlandschaft!
                <br><br>

                Clemens Braun
                <br><br>
            </p>
        </div>
    </section>

    <!--****************************************************************-->

    <section class="container_presse blauer_hintergrund">

        <h1 class="title"> Oktober 2021 </h1>
        <div class="container_main_60">

            <div id="hidden_mobile" class="container_media_padding">
                <img src="images/2021_10Bild.jpg">
            </div>
            <div id="hidden_desktop" class="container_media_padding">
                <img src="images/2021_10BildMobile.jpg">
            </div>

            <h2>Cleanup am 03.10.2021
            </h2>
            <p>

                Nur eine Woche nach dem Nachhaltigkeitstag war unser nächstes Cleanup. Wieder waren neue Gesichter
                dabei, was uns sehr gefreut hat.
                <br><br>
                Weniger erfreut hat uns die Menge an gefundenem Müll. Vielleicht ist es dem Kerbwochenende geschuldet,
                aber leider reißt es nicht ab und wir bekommen Rüdigers Hänger immer wieder voll.
                Zigarettenkippen, Mund-Nasen-Schutz und Pizzakartons sind wir schon lange gewohnt, diesmal kamen noch
                ein ausrangierter Drucker, eine Kochplatte und eine Nähmaschine hinzu. Besonders ärgerlich fand ich,
                dass unter nahezu jeder Laterne, an der ein Wahlplakat hing, die abgeknipsten Kabelbinder lagen, mit
                denen die Plakate vorher befestigt waren.
                <br><br>
                Die goldene Müllzange des Monats geht aber an den Herrn, der vergessen hat seinen Adressaufkleber vom
                Karton der neuen Feuerschale zu entfernen, bevor er diesen in die Landschaft warf.
                <br><br>
                An diesem (und teilweise am vorigen) Wochenende fand außerdem im gesamten Landkreis die Aktion „Saubere
                Landschaft“ statt. Umliegende Orte wie z.B. Dieburg, Reinheim, Erzhausen, Mühltal, Münster und
                Groß-Umstadt nahmen teil. Umso erstaunter waren wir, dass die Gemeinde Roßdorf nichts anbot. Vielleicht
                ist es im Trubel der Wahlen ja nur untergegangen. Sollte die Gemeinde hier noch etwas nachholen wollen,
                scheuen Sie sich bitte nicht uns anzusprechen. Wir sind gerne bereit mitzuplanen.
                <br><br>
                Auch für alle anderen gilt weiterhin: macht einfach mal mit. Unter www.cleanup-rossdorf.de könnt ihr
                euch eine Route aussuchen, oder ihr geht einfach von zu Hause los, meist findet man im direkten Umfeld
                schon genug Wildmüll. Wichtig ist: seid am 07. November um 13 Uhr mit eurem Müll am Roßdörfer Freibad,
                oder ca. 15 Minuten später in Gundernhausen am Kerbplatz, damit ihr eure Beute auch bei uns loswerdet:
                So entstehen euch keine Kosten für die Entsorgung des Wildmülls.
                <br><br>
                Kristina Wallmichrath und das Orgateam vom Cleanup Rossdorf/Gundernhausen
                <br><br>
            </p>
        </div>
    </section>

    <!--****************************************************************-->

    <section class="container_presse dunkelblauer_hintergrund">

        <h1 class="title_dunkel"> September 2021 </h1>
        <div class="container_main_60">

            <div id="hidden_mobile" class="container_media_padding">
                <img src="images/2021_09Bild.jpg">
            </div>
            <div id="hidden_desktop" class="container_media_padding">
                <img src="images/2021_09BildMobile.jpg">
            </div>

            <h2>Clean Up Roßdorf / Gundernhausen mit positiver Bilanz nach Teilnahme beim Tag der Nachhaltigkeit am
                26.09.21 in Roßdorf
            </h2>
            <p>
                Wow, ich hätte jetzt nicht erwartet, dass das so nicht in den Papiermüll darf“, sagt eine Besucherin
                erstaunt, nachdem sie gemeinsam mit unserer Aktiven Kristina Wallmichrath unserer interaktives „Wo kommt
                der Müll rein“ Spiel gespielt hat. Dabei sollte man meinen, dass wir im Allgemeinen wissen wie man den
                Hausmüll richtig trennt und auch entsorgt – aber auch wir werden da immer noch überrascht. Konserven
                kommen in den Gelben Sack und Backpapier ins Altpapier?
                Oder? Was meinen Sie?
                <br><br>
                Tatsächlich landet das Backpapier nicht im Altpapier, auch wenn es einige Besucher:innen vermuteten,
                aufgrund der Beschichtung muss es tatsächlich sogar in den Restmüll, nicht mal in den Gelben Sack, auch
                wenn auf der Verpackung ein Grüner Punkt aufgedruckt ist.

                <br><br>
                Unser Tipp: Kaufen Sie sich ein wiederverwendbares Backblech aus Glas oder eine Dauerbackmatte aus
                Silikon.
                Glas ist schnittfest, allergikerfreundlich und geschmacksneutral. Zudem haben Glasbackbleche den
                Vorteil, dass sie bis zu hohen Temperaturen hitzebeständig sind und es dank der porenfreien Oberfläche
                leicht zu reinigen ist. Dauerbackmatten sind wiederverwendbar und die meisten Matten lassen sich einfach
                reinigen und können sogar in die Spülmaschine. Zusätzliches Feature: Man kann es zum Kneten, Ausrollen
                und Ausstechen von Teigen nutzen.
                <br><br>
                Wussten Sie? Silikon stammt von Silizium, einem natürlichen Element, welches in Sand, Quarz und
                Gesteinen vorkommt. Für die Herstellung des Kunststoffes werden keine fossilen Rohstoffe benötigt.
                Anders als andere Kunststoffe benötigt es keine Weichmacher und kann unbedenklich verbrannt werden. Also
                absolut nachhaltig und Geld spart es auch!
                <br><br>
                Eindruck machte an diesem Tag auch unsere „Girlande der Schande“, bestückt mit wildem Müll aus unseren
                Sammelaktionen (siehe Bild oben links). Kein schöner Anblick aber effektiv. Es folgten weitere
                interessante Gespräche mit vielen
                interessierten Roßdörfern, jene die uns schon kannten, jene die es nun tun, und jene die selbst bereits
                aktiv in Roßdorf und Umgebung Wildmüll sammeln und dadurch einen wichtigen Beitrag leisten! Wir sagen
                DANKE!
                <br><br>
                Die nächste Aktion ist am Sonntag, den 03.10.21 | www.cleanup-rossdorf.de | Wir freuen uns auf aktive
                Teilnahme!
                <br><br>

                Sabrina Anna Hänsel
                <br><br>
            </p>
        </div>
    </section>

    <!--****************************************************************-->

    <section class="container_presse blauer_hintergrund">

        <h1 class="title"> August 2021 </h1>
        <div class="container_main_60">
            <div id="hidden_mobile" class="container_media_padding">
                <img src="images/2021_08Bild.jpg">
            </div>
            <div id="hidden_desktop" class="container_media_padding">
                <img src="images/2021_08BildMobile.jpg">
            </div>

            <h2>Clean Up im August
            </h2>
            <p>
                Wie angekündigt fand wegen der Sommerferien unser Clean Up im August ausnahmsweise am letzten Sonntag im
                Monat statt.
                <br><br>
                Neben dem üblichen Wildmüll von Getränkebechern, Snackverpackungen, Masken, Kippen und deren Schachteln
                sowie diverser Flaschen aller Größen mit und ohne Pfand waren die besonderen Fundstücke diesmal ein
                Auspuff (!) und ein Pfahl, wie auf dem Foto zu sehen. Der Bollerwagen gehört natürlich nicht dazu, den
                haben wir uns gebraucht gekauft um den Wildmüll besser transportieren zu können, was sich bei großen
                Fundstücken als besonders hilfreich erweist.

                <br><br>

                Das nächste Clean Up findet in knapp 5 Wochen, am ersten Sonntag im Oktober statt.

                <br><br>
                In knapp 4 Wochen feiern wir in Roßdorf den Tag der Nachhaltigkeit. Wir vom CleanUp
                Roßdorf/Gundernhausen sind ebenfalls dabei: Am 26.9. von 14:00 bis 18:00 im Bürgerzentrum/Neue Schule in
                Roßdorf. Schaut doch mal vorbei!
                <br><br>
                Katrin Rose
                <br><br>
            </p>
        </div>
    </section>
    <!--****************************************************************-->

    <section class="container_presse dunkelblauer_hintergrund">

        <h1 class="title_dunkel"> Juli 2021 </h1>
        <div class="container_main_60">
            <div id="hidden_mobile" class="container_media_padding">
                <img src="images/2021_07Bild.jpg">
            </div>
            <div id="hidden_desktop" class="container_media_padding">
                <img src="images/2021_07BildMobile.jpg">
            </div>
            <h2>CleanUp CleanUp im Juli
            </h2>
            <p>

                Noch bevor der Regen sich über uns ergießen konnte hatten wir diesen ersten Sonntag im Juli bei
                angenehmen
                Temperaturen das allmonatliche Sammeln von Wildmüll hinter uns gebracht. Es grummelte allerdings schon
                in
                der Ferne als wir gegen 13:00 unsere Müllsäcke zum Treffpunkt brachten.
                Diesmal gibt es leider keine besonders erwähnenswerten Fundstücke oder Anekdoten. Daher mal ein
                typischer
                Wildmüllbeutel von innen.
                <br><br>
                Masken, Snackverpackungen und Getränkeverpackungen. Besonders um die Rehbergschule wurde davon
                sehr viel gefunden. Im Sinne der Umwelt: liebe Eltern, bitte gebt euren Kindern Essen und Trinken in
                wiederverwendbaren Mehrwegbehältern mit. Liebe Kinder, bitte werft euren Müll nicht einfach in die Natur
                oder
                auf den Gehweg, wenn ihr Essen oder Trinken in Einwegverpackungen mitbekommt. Und natürlich vielen Dank
                an alle, die das schon (immer) richtig machen!
                <br><br>
                Auch überall sonst finden wir nach wie vor Müll dieser Art. Deshalb bitten wir alle: nutzt wenn es geht
                Mehrwegbehälter für Essen und Trinken wenn ihr außer Haus geht. Das verhindert nicht nur (Wild-)müll,
                sondern schont auch Ressourcen, da Material und Energie benötigt werden um diese vermeidbaren
                Einwegverpackungen herzustellen.
                <br><br>
                ACHTUNG: Da die meisten in den Sommerferien im Urlaub sind, fällt das CleanUp am ersten Sonntag im
                August aus! Da am ersten Sonntag im September der Naturerlebnistag rund um den Bessunger Forst
                stattfindet, findet das nächste CleanUp am letzten Sonntag im August, den 29.8. statt. Schonmal
                vormerken! Schaut auch auf: www.cleanup-rossdorf.de.
                <br><br>
                Katrin Rose
                <br><br>
            </p>

        </div>

    </section>
    <!--****************************************************************-->


    <section class="container_presse blauer_hintergrund">

        <h1 class="title"> Juni 2021 </h1>
        <div class="container_main_60">
            <div id="hidden_mobile" class="container_media_padding">
                <img src="images/2021_06Bild.jpg">
            </div>
            <div id="hidden_desktop" class="container_media_padding">
                <img src="images/2021_06BildMobile.jpg">
            </div>


            <h2>Aufheben statt aufgeben
            </h2>
            <p>
                Trotz langen Wochenendes haben sich wieder viele fleißige Helfer auf unserer Homepage eingetragen
                (www.cleanup-rossdorf.de) und am ersten Sonntag im Juni Wildmüll gesammelt. Dieses mal hatten wir
                teilweise den Eindruck: es wird besser. „Aufheben statt aufgeben“ ist nicht nur das Motto des Clean Ups
                in Dieburg, sondern auch in Roßdorf - und es scheint erste Früchte zu tragen. Rüdigers Anhänger war
                diesmal deutlich weniger voll. Aufmerksame Leser:innen mögen sich erinnern, dass dieser die letzten Male
                eher überquoll. Dank ZAW waren wir außerdem mit zusätzlichen Greifzangen, Warnwesten, Arbeitshandschuhen
                und Müllsäcken ausgestattet. Vielen Dank dafür nochmal!
                <br><br>
                Das Wort „teilweise“ steht weiter oben aber nicht umsonst. Denn gerade an der Kubig befand sich wieder
                unglaublich viel Verpackungs- und Getränkemüll aller Art. Der Vorschlag meines 6-jährigen Sohns war,
                dass man doch mal bei der Werbung für diese Produkte sagen sollte, dass man den Müll nicht in die Natur
                schmeißen soll. Eine weitere Anekdote kommt von Felix. Er wollte einen kleinen Plastikdeckel aufheben,
                der sich aber dann als Kuppe eines Regenschirms herausstellte, welcher komplett in der Erde vergraben
                war, bis auf die Kuppe eben.
                <br><br>
                Für alle aktiven Mitsammler:innen → wir haben eine Gruppe auf slack gegründet. Wer dort dabei sein
                möchte, meldet sich bitte bei info@cleanup-rossdorf.de.
                <br><br>
                Das nächste Clean Up findet am ersten Sonntag im Juli, den 4.7. statt!
                <br><br>
                Katrin Rose
                <br><br>
            </p>
        </div>
    </section>

    <!--****************************************************************-->

    <section class="container_presse dunkelblauer_hintergrund">

        <h1 class="title_dunkel"> Mai 2021 </h1>
        <div class="container_main_60">
            <div id="hidden_mobile" class="container_media_padding">
                <img src="images/2021_05Bild.jpg">
            </div>
            <div id="hidden_desktop" class="container_media_padding">
                <img src="images/2021_05BildMobile.jpg">
            </div>
            <h2>CleanUp Roßdorf / Gundernhausen im Mai
            </h2>
            <p>
                Wie jeden ersten Sonntag im Monat waren wir am 2.Mai wieder in Roßdorf und Gundernhausen unterwegs, um
                wilden Müll zu sammeln. Dieses Mal wurde es zu unserer Freude sogar einige Tage zuvor von der
                Klimahelden App des Landkreises Darmstadt-Dieburg (klimahelden-darmstadt-dieburg.de) als Tagestipp
                angezeigt!
                <br>
                <br>
                Hier nochmal der Ablauf: wer mitmachen möchte trägt sich auf unserer Webseite cleanup-rossdorf.de ein.
                Entweder sucht man sich eine der vorgeschlagenen Routen aus oder gibt selbst eine Strecke/einen Ort ein,
                wo man Wildmüll sammeln möchte. Dann sammelt jede bzw. jeder wie es gut passt, oder aber zu der
                vorgeschlagen Zeit von 11:00 bis 13:00. Wichtig ist nur, dass man zur richtigen Zeit am Abholort ist, wo
                Rüdiger mit dem Hänger vorbei gefahren kommt um den Wildmüll einzusammeln und am Folgetag zum Bauhof zu
                bringen.
                <br>
                <br>
                Besondere Fundstücke dieses mal waren u.a. Tanzschuhe, eine Mikrowelle und eine Schreibmaschine.
                Erwähnenswert ist auch das Schnapsflaschenlager im Gebüsch vorm Parkplatz der Justin Wagner Schule. Oder
                auch der Mülleimer ohne Eimer, wo sich die Leute immerhin bemüht haben den Müll dorthin zu schmeißen, wo
                er hingehören würde, siehe Foto. Der meiste Wildmüll liegt aber nicht in solchen „imaginären“
                Mülleimern, sondern in der Natur, auf dem Gehweg, im Gebüsch oder auch in privaten Grundstücken. Die
                Liste der Fundorte und vor allem Fundstücke lässt sich beliebig fortsetzen.
                <br>
                <br>
                Das nächste CleanUp ist am Sonntag, den 6.Juni. Wir freuen uns über alle, die mitmachen!


                <br>
                <br>
                Katrin Rose
                <br>
                <br>
            </p>
        </div>


    </section>

    <!--****************************************************************-->

    <section class="container_presse blauer_hintergrund">

        <h1 class="title"> April 2021 </h1>
        <div class="container_main_60">
            <div id="hidden_mobile" class="container_media_padding">
                <img src="images/2021_04Bild.jpg">
            </div>
            <div id="hidden_desktop" class="container_media_padding">
                <img src="images/2021_04BildMobile.jpg">
            </div>
            <h2>„Wie Pilze sammeln, nur erfolgreicher“
            </h2>
            <p>
                Entgegen der schlechten Wetterprognose hatten wir am Sonntag, dem 11. April, wieder strahlenden
                Sonnenschein
                und viele aktive HelferInnen, als wir den wilden Müll in und um Roßdorf/Gunderhausen aufsammelten. Auch
                an
                diesem Tag wurde Rüdiger Dunkers Hänger leider wieder übervoll, wie man auf dem Bild sehen kann. „Wie
                Pilze
                sammeln, nur erfolgreicher“, war seine treffende Bemerkung dazu.
                <br><br>
                Was man als WildmüllsammlerIn alles so findet ist schon kurios. Die besonderen Fundstücke dieses Mal
                waren
                u.a. Schallplatten, Kühlaggregate und Matratzen im Wald. Solche großen Fundstücke wie Matratzen kann man
                allerdings nicht mitnehmen, sondern über die MüllWeg! App (www.muell-weg.de) oder neuerdings auch über
                die
                ZAW App (www.zaw-online.de/zaw-app) melden. Die zuständige Stelle wird dann informiert und sollte sich
                um
                eine zeitnahe Entsorgung kümmern. Verschiedene TeilnehmerInnen haben damit auch schon positive Erfahrung
                gemacht. Wer beim nächsten Spaziergang also über große Fundstücke stolpert, einfach mal das Handy zücken
                :)

                <br><br>
                Was man sich als Wildmüllsammler (hier ist das männliche Geschlecht gemeint) leider manchmal auch
                anhören
                muss sind Sprüche wie „Machst du das freiwillig, oder leistest du Sozialstunden?“. Schade, dass solche
                Vorurteile in manchen Köpfen sind. Immerhin, von den meisten Leuten, die uns beim Sammeln begegnen
                bekommen
                wir einen Daumen hoch.
                <br><br>

                Zudem sei erwähnt, dass wir uns als Gruppe seit unserer ersten Tour auch um die wild entsorgten Masken
                kümmern, und diese nicht nur alle 4 Wochen aufsammeln, generell ist unsere Initiative ganzheitlich zu
                sehen,
                meist haben wir Aktiven immer eine Mülltüte dabei, ob beim Gassi gehen, Spazieren, oder Ausreiten. 😉
                <br><br>

                Die Corona-Pandemie ist nicht nur ein Problem für unsere Gesundheit, sondern zunehmend auch für die
                Gesundheit unserer Umwelt. Diesen #maskenmüll sammeln wir demnach ebenfalls auf und entsorgen diesen
                richtig, zumindest in den nächsten Mülleimer. Das ist einfach - und jeder kann mithelfen. Die eigenen
                Funde
                kann man online eintragen unter: www.worldcleanupday.de/masken
                <br><br>

                Das nächste CleanUp ist bereits in 3 Wochen, am Sonntag den 2. Mai, ab 11 Uhr. Wir freuen uns über alle,
                die
                mitmachen!
                <br><br>

                Katrin Rose & Sabrina Anna Hänsel
                <br><br>
            <p>

        </div>
    </section>

    <!--****************************************************************-->

    <section class="container_presse dunkelblauer_hintergrund">

        <h1 class="title_dunkel"> März 2021 </h1>
        <div class="container_main_60">
            <div id="hidden_mobile" class="container_media_padding">
                <img src="images/2021_03Bild.jpg">
            </div>
            <div id="hidden_desktop" class="container_media_padding">
                <img src="images/2021_03BildMobile.jpg">
            </div>
            <h2>CleanUp Roßdorf / Gundernhausen
            </h2>
            <p>
                Wie jeden ersten Sonntag im Monat haben wir auch am 7. März
                wieder Wildmüll gesammelt. Der Ablauf ist
                folgendermaßen: Alle, die mitmachen wollen, tragen sich auf cleanup-rossdorf.de ein. Hier kann man eine
                der vorgeschlagenen Routen auswählen oder (neu!) einen selbstgewählten Ort eintragen. Von 11:00 bis
                13:00 läuft jede:r dann die selbst gewählte Strecke ab und sammelt den Wildmüll in mitgebrachten Tüten
                ein. Als Müllgreifer eignen sich neben den eigenen Händen spezielle Greifer oder auch einfache
                Holzgrillzangen. Was man halt so zu Hause da hat oder sich besorgen kann.

            </p>
            <br>
            <p>
                Man kann natürlich auch schon Samstags sammeln oder auch zu einer anderen Zeit am Sonntag morgen.
                Wichtig ist, dass man rechtzeitig an der Sammelstelle zum Abgeben ist. Das ist gegen 13:00 vor dem
                Freibad in Roßdorf und ca. 15min später am Kerbplatz in Gundernhausen. Rüdiger kommt mit seinem Hänger
                gefahren, sammelt den Müll ein und bringt ihn am Folgetag zum Bauhof. Die Kosten der Müllentsorgung
                übernimmt die Gemeinde.
            </p>
            <br>
            <p>
                An diesem Sonntag war nicht nur der 50. Geburtstag der Maus (Herzlichen Glückwunsch!) und strahlend
                schönes Wetter, es waren auch wieder viele Menschen dabei. Das freut uns sehr! Was uns weniger freut
                ist, dass der Hänger jedes mal voll wird, ja, sogar überquillt – siehe Foto.
            </p>
            <br>
            <p>
                Neugierig geworden? Neben unserer Webseite, cleanup-rossdorf.de, sind wir auch in den sozialen Medien
                präsent: neben einer <a href="https://www.facebook.com/groups/cleanuprossdorfgundernhausen/"
                                        target="_blank"> Facebookgruppe</a>,
                haben wir einen
                Account bei <a href="https://www.instagram.com/cleanup_rossdorf/ " target="_blank"> Instragramm </a>,
                dem ihr folgen könnt.
            </p>
            <p>
                <br>
                Achtung: der erste Sonntag im April ist Ostern. Daher wird das CleanUp im April ausnahmsweise am 2.
                Sonntag, den 11.4. sein.
                <br>
                <br>
                Katrin Rose
                <br>
                <br>
            </p>
        </div>


    </section>


    <!--****************************************************************-->

    <section class="container_presse blauer_hintergrund">

        <h1 class="title"> November 2020 </h1>
        <div class="container_main_60">
            <div id="hidden_mobile" class="container_media_padding">
                <img src="images/2020_11Bild.jpg">
            </div>
            <div id="hidden_desktop" class="container_media_padding">
                <img src="images/2020_11BildMobile.jpg">
            </div>

            <h2>CleanUp Roßdorf / Gundernhausen – Ehrenamtliche Gruppe startet erfolgreich erstes CleanUp
            </h2>
            <p>
                Am 01. November 2020 war es soweit, initiiert von mehreren ehrenamtlichen Helfern*innen, darunter
                die Organisatoren Sabrina Anna Hänsel, Katrin Rose, Kristina Wallmichrath und Rüdiger Dunker, fand
                unter Wahrung der Hygiene- und Abstandsregeln ein erstes aufräumen unter dem Motto „Unser Ort soll
                sauber bleiben“ in Roßdorf/Gundernhausen statt.
                <br>
                <br>
                Angelehnt an das große Vorbild des World Cleanup Days (WCD), eine weltweite Bürgerbewegung gegen die
                Vermüllung unseres Planeten und für mehr Sauberkeit in den Kommunen, trafen sich engagierte Menschen
                und Familien am Sonntag, dem 01. November um 11 Uhr am Schwimmbad in Roßdorf.

                <br>
                <br>
                Ausgestattet mit Mülltüten und Müllgreifern verteilten sich die Helfer*innen auf mehrere Teile von
                Roßdorf und Gundernhausen. Gesammelt wurde u.a. auf dem Rehberg, auf den Feldwegen an der B38, dem
                Bereich um die Kubik, auf mehreren Spielplätzen rund um den Ortskern in Roßdorf, im Gewerbegebiet
                und an den Sporthallen. Nach nicht einmal zwei Stunden Sammelaktion stellten alle erschreckend fest,
                wie viel Müll zu finden war und wie leichtfertig einige Mitmenschen wohl mit dem Thema Müll auch in
                Roßdorf und Gundernhausen umgehen. Ein ganzer Anhänger voller umweltbelastenden Dingen kam da
                zusammen, darunter Haushaltsgeräte, vor allem aber Essensverpackungen aus Zellophan,
                Zigarettenstummel und Glasflaschen sowie jede Menge Plastik.

                <br>
                <br>
                Die Ehrenamtlichen sammeln nun in regelmäßigen Abständen weiter und möchten damit auf diese Thematik
                aufmerksam machen. Getroffen wird sich alle vier Wochen, eigenständig und natürlich unter den
                notwendigen Vorgaben - zur Eindämmung der Coronapandemie - mit Mundschutz und Abstand und als
                alleinstehender Haushalt. Der wilde Müll wird dann zu fest vorgegebenen Stellen in Roßdorf und
                Gundernhausen gebracht und von den Organisatoren entsorgt. Die Abholorte werden entsprechend
                frühzeitig kommuniziert.

                <br>
                <br>
                Weitere Infos erhält man in der Facebook-Gruppe: CleanUp Gruppe – Roßdorf Gundernhausen.
                Zudem arbeiten wir an einem Online-Tool zur Koordination der weiteren Treffen. Sobald dieses
                verfügbar ist, werden wir darüber berichten.

                <br>
                <br>
                Wir freuen uns über aktive Unterstützer*innen.

                <br>
                <br>
                Wie kann ich selbst Müll vermeiden? <a class="button" target="_blank"
                                                       href="https://www.nachhaltig-zusammen-leben.jetzt/plastik-ade/">Hier </a>
                findet ihr weitere
                Anregungen:

                <br>
                <br>

                Sabrina Anna Hänsel
                <br>
                <br>

        </div>
    </section>

    <!--****************************************************************-->

</div>
</body>
</html>